
<ion-view view-title="Beranda" >
    <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Informasi</strong>
        </div>
        <div class="im-wrapper">
            <!-- Ionic Components -->
            Selamat Datang di halaman Instrumen Supervisi Madrasah Ibtidaiyah. Halaman ini diperuntukkan untuk pengawas sekolah yang dimaksud<br/><br/>
            Silahkan ikuti petunjuk di bawah ini: 
            <div style="margin-left: 20px;">
                <ul style="list-style-type: disc;">
                    <li>Untuk mengisi Instrumen silahkan klik Intrumen yang diinginkan</li>
                    <li>Untuk menlihat kelengkapan data setiap Instrumen dapat melihat grafik dibawah</li>
                </ul>
            </div>.
        </div>
        <br />
        <br />
         <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Kelengkapan Data Semester {{semester[0].nama_semester}}</strong>
        </div>
        <div class="im-wrapper">
            <!-- Ionic Components -->
            <div class="row responsive-sm">
                <div class = "col col-50">
                     <div style="float: left;">MA.1 (0%)<progress max="100" value="0"></progress></div>
                </div>
                <div class = "col col-50">
                     <div style="float: left;">MA.1 (0%)<progress max="100" value="0"></progress></div>
                </div>
            </div>

            <div class="row responsive-sm">
                <div class = "col col-50">
                     <div style="float: left;">MA.1 (0%)<progress max="100" value="0"></progress></div>
                </div>
                <div class = "col col-50">
                     <div style="float: left;">MA.1 (0%)<progress max="100" value="0"></progress></div>
                </div>
            </div>

            <div class="row responsive-sm">
                <div class = "col col-50">
                     <div style="float: left;">MA.1 (0%)<progress max="100" value="0"></progress></div>
                </div>
                <div class = "col col-50">
                     <div style="float: left;">MA.1 (0%)<progress max="100" value="0"></progress></div>
                </div>
            </div>

            <div class="row responsive-sm">
                <div class = "col col-50">
                     <div style="float: left;">MA.1 (0%)<progress max="100" value="0"></progress></div>
                </div>
                <div class = "col col-50">
                     <div style="float: left;">MA.1 (0%)<progress max="100" value="0"></progress></div>
                </div>
            </div>

            <div class="row responsive-sm">
                <div class = "col col-50">
                     <div style="float: left;">MA.1 (0%)<progress max="100" value="0"></progress></div>
                </div>
                <div class = "col col-50">
                     <div style="float: left;">MA.1 (0%)<progress max="100" value="0"></progress></div>
                </div>
            </div>

            <div class="row responsive-sm">
                <div class = "col col-50">
                     <div style="float: left;">MA.1 (0%)<progress max="100" value="0"></progress></div>
                </div>
                <div class = "col col-50">
                     <div style="float: left;">MA.1 (0%)<progress max="100" value="0"></progress></div>
                </div>
            </div>

            <div class="row responsive-sm">
                <div class = "col col-50">
                     <div style="float: left;">MA.1 (0%)<progress max="100" value="0"></progress></div>
                </div>
                <div class = "col col-50">
                     <div style="float: left;">MA.1 (0%)<progress max="100" value="0"></progress></div>
                </div>
            </div>

            <div class="row responsive-sm">
                <div class = "col col-50">
                     <div style="float: left;">MA.1 (0%)<progress max="100" value="0"></progress></div>
                </div>
                <div class = "col col-50">
                     <div style="float: left;">MA.1 (0%)<progress max="100" value="0"></progress></div>
                </div>
            </div>

            <div class="row responsive-sm">
                <div class = "col col-50">
                     <div style="float: left;">MA.1 (0%)<progress max="100" value="0"></progress></div>
                </div>
                <div class = "col col-50">
                     <div style="float: left;">MA.1 (0%)<progress max="100" value="0"></progress></div>
                </div>
            </div>

            <div class="row responsive-sm">
                <div class = "col col-50">
                     <div style="float: left;">MA.1 (0%)<progress max="100" value="0"></progress></div>
                </div>
            </div>
            
        </div>

        <br />
        <br />
    </ion-content>
</ion-view>
