<ion-view view-title="Instrumen MA.13" >
    <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Informasi</strong>
        </div>
        <div class="im-wrapper">
            <center><h4>INSTRUMEN SUPERVISI ADMINISTRASI KESISWAAN</h4></center><br/>
           <!--  <ion-scroll direction="xy"> -->
                <br/><br/>
                <table border="1" class="data-table" style="table-layout: fixed; width: 624px">
                    <colgroup>
                    <col style="width: 48px">
                    <col style="width: 49px">
                    <col style="width: 49px">
                    <col style="width: 558px">
                    <col style="width: 93px">
                    <col style="width: 49px">
                    <col style="width: 49px">
                    <col style="width: 47px">
                    <col style="width: 51px">
                    <col style="width: 159px">
                    </colgroup>
                      <tr>
                        <th rowspan="2">No.</th>
                        <th rowspan="2" colspan="3">Komponen</th>
                        <th rowspan="2">Tidak Ada</th>
                        <th colspan="4">Ada</th>
                        <th rowspan="2">ket</th>
                      </tr>
                      <tr>
                        <th>4</th>
                        <th>3</th>
                        <th>2</th>
                        <th>1</th>
                      </tr>
                      <tr>
                        <td>A.</td>
                        <td colspan="3"><b>ADMINISTRASI KEPESERTA DIDIKAN</b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>1</td>
                        <td colspan="2">Program kerja Wakil Kepala Bid Kesiswaan</td>
                        <td class="middle-row"><center><input name="radio_a1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_a1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>2</td>
                        <td colspan="2">Jadwal Supervisi Wakil Kepala Bid Kesiswaan</td>
                        <td class="middle-row"><center><input name="radio_a2" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a2" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a2" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a2" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a2" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_a2"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>3</td>
                        <td colspan="2">Madrasah menyusun dan menetapkan petunjuk pelaksanaan operaional mengenai proses penerimaan peserta didik yang meliputi:</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td colspan="2">a. Kriteria calon peserta didik: MA berasal dari anggota masyarakat yang telah lulus dari SMP/MTs, Paket B atau satuan pendidikan lainnya yang sederajat</td>
                        <td class="middle-row"><center><input name="radio_a3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a3_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_a3_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td colspan="2">b. Penerimaan peserta didik Madrasah dilakukan:</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>i. Berdasarkan kriteria hasil UM dan hasil ujian nasional bagi MA dan kriteria tambahan lainnya</td>
                        <td class="middle-row"><center><input name="radio_b3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b3_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_b3_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>ii. Sesuai dengan daya tampung Madrasah</td>
                        <td class="middle-row"><center><input name="radio_b3_2" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b3_2" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b3_2" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b3_2" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b3_2" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_b3_2"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td colspan="2">c. Orientasi peserta didik baru yang bersifat akademik dan pengenalan lingkungan tanpa kekerasan dengan pengawasa guru</td>
                        <td class="middle-row"><center><input name="radio_c3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c3_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_c3_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td colspan="2">d. Madrasah Memberikan layanan konseling kepada peserta didik</td>
                        <td class="middle-row"><center><input name="radio_d3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d3_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_d3_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td colspan="2">e. Madrasah Melaksanakan kegiatan ekstra dan kokurikuler untuk para peserta didik</td>
                        <td class="middle-row"><center><input name="radio_e3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e3_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_e3_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td colspan="2">f. Madrasah Melakukan pembinaan prestasi unggulan</td>
                        <td class="middle-row"><center><input name="radio_f3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f3_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_f3_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td colspan="2">g. Madrasah Melakukan pelacakan terhadap alumni </td>
                        <td class="middle-row"><center><input name="radio_g3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g3_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_g3_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>4</td>
                        <td colspan="2">Buku Induk Peserta Didik diisi dengan benar dan lengkap</td>
                        <td class="middle-row"><center><input name="radio_4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_4_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_4_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>5</td>
                        <td colspan="2">Buku Klapper diisi dengan benar dan lengkap</td>
                        <td class="middle-row"><center><input name="radio_5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_5_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_5_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>6</td>
                        <td colspan="2">Buku mutasi diisi dengan benar dan lengkap ( ditutup tiap bulan dan surat persetujuan mutasi masuk )</td>
                        <td class="middle-row"><center><input name="radio_6_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_6_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_6_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_6_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_6_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_6_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>7</td>
                        <td colspan="2">Daftar 8355 setiap jenjang kelas diisi dengan benar, lengkap dan tuntas</td>
                        <td class="middle-row"><center><input name="radio_7_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_7_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_7_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_7_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_7_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_7_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>8</td>
                        <td colspan="2">Buku legger diisi dengan benar, lengkap dan tuntas</td>
                        <td class="middle-row"><center><input name="radio_8_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_8_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_8_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_8_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_8_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_8_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>9</td>
                        <td colspan="2">Dokumen penyerahan STTB/STK diisi dengan benar, lengkap dan tuntas disertai tanda penyerahan yang ke Kemenag </td>
                        <td class="middle-row"><center><input name="radio_9_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_9_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_9_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_9_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_9_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_9_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>10</td>
                        <td colspan="2">Kumpulan foto copi STTB/STK Peserta Didik dari jenjang Madrasah sebelumnya</td>
                        <td class="middle-row"><center><input name="radio_10_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_10_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_10_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_10_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_10_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_10_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>11</td>
                        <td colspan="2">Dokumen Ujian (4 tahun terakhir)</td>
                        <td class="middle-row"><center><input name="radio_11_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_11_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_11_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_11_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_11_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_11_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>12</td>
                        <td colspan="2">Daftar hadir Peserta Didik dan rekapitulasi diisi dengan benar,lengkap dan tuntas</td>
                        <td class="middle-row"><center><input name="radio_12_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_12_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_12_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_12_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_12_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_12_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>13</td>
                        <td colspan="2">Catatan Peserta Didik yang memperoleh beasiswa (diisi lengkap dengan sumber beasiswa )</td>
                        <td class="middle-row"><center><input name="radio_13_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_13_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_13_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_13_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_13_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_13_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>14</td>
                        <td colspan="2">Buku agenda kelas diisi dengan benar, lengkap dan tuntas (pengecekan secara kontinyu oleh kepala Madrasah)</td>
                        <td class="middle-row"><center><input name="radio_14_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_14_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_14_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_14_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_14_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_14_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>15</td>
                        <td colspan="2">Tata tertib, penghargaan dan sanksi  Peserta Didik tertulis, disosialisasikan dan dilaksanakan secara konsisten</td>
                        <td class="middle-row"><center><input name="radio_15_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_15_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_15_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_15_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_15_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_15_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>16</td>
                        <td colspan="2">Catatan prestasi Peserta Didik yang memperoleh penghargaan (Tk.Kota/Kab, Tk. Propinsi, Tk. Nasional atau lainnya</td>
                        <td class="middle-row"><center><input name="radio_16_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_16_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_16_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_16_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_16_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_16_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>17</td>
                        <td colspan="2">Kohort</td>
                        <td class="middle-row"><center><input name="radio_17_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_17_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_17_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_17_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_17_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_17_1"></input></td>
                      </tr>
                      <tr>
                        <td>B</td>
                        <td colspan="3"><b>ORGANISASI PESERTA DIDIK INTRA MADRASAH (0SIS)</b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                       <tr>
                        <td></td>
                        <td>1</td>
                        <td colspan="2">Ruang OSIS</td>
                        <td class="middle-row"><center><input name="radio_b1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b1_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_b1_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>2</td>
                        <td colspan="2">Administrasi OSIS</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td colspan="2">a. Struktur oraganisasi OSIS dan susunan pengurusnya</td>
                        <td class="middle-row"><center><input name="radio_b2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b2_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_b2_1"></input></td>
                      </tr>
                       <tr>
                        <td></td>
                        <td></td>
                        <td colspan="2">b. Program Kerja OSIS</td>
                        <td class="middle-row"><center><input name="radio_b2_2" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b2_2" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b2_2" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b2_2" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b2_2" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_b2_2"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td colspan="2">c. Kumpulan Proposal kegiatan OSIS</td>
                        <td class="middle-row"><center><input name="radio_b2_3" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b2_3" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b2_3" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b2_3" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b2_3" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_b2_3"></input></td>
                      </tr>
                       <tr>
                        <td></td>
                        <td></td>
                        <td colspan="2">d. Catatan pelaksanaan /Dokumentasi OSIS</td>
                        <td class="middle-row"><center><input name="radio_b2_4" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b2_4" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b2_4" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b2_4" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b2_4" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_b2_4"></input></td>
                      </tr>
                      </tr>
                       <tr>
                        <td></td>
                        <td></td>
                        <td colspan="2">e. Laporan tahunan keterlaksanaan program OSIS</td>
                        <td class="middle-row"><center><input name="radio_b2_5" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b2_5" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b2_5" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b2_5" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b2_5" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_b2_5"></input></td>
                      </tr>
                      <tr>
                        <td>C</td>
                        <td colspan="3"><b>KEGIATAN EKSTRAKURIKULER:</b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>1</td>
                        <td colspan="2">Buku Program ekstrakurikuler</td>
                        <td class="middle-row"><center><input name="radio_c1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c1_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_c1_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>2</td>
                        <td colspan="2">Buku Program ekstrakurikuler</td>
                        <td class="middle-row"><center><input name="radio_c2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c2_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_c2_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>3</td>
                        <td colspan="2">Daftar nama guru pembimbing ekstrakurikuler</td>
                        <td class="middle-row"><center><input name="radio_c3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c3_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_c3_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>4</td>
                        <td colspan="2">Jadwal kegiatan ekstrakurikuler</td>
                        <td class="middle-row"><center><input name="radio_c4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c4_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_c4_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>5</td>
                        <td colspan="2">Catatan / jurnal pelaksanaan kegiatan ekstrakurikuler/laporan</td>
                        <td class="middle-row"><center><input name="radio_c5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c5_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_c5_1"></input></td>
                      </tr>
 
                      <tr>
                        <td colspan="9">Kesimpulan / Saran</td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td colspan="9"><textarea cols="110" rows="3" name="input_kesimpulan"></textarea>
                      </tr>
                     </table> 
                

                        <br/><br/>
                        <button class="button" style="background-color: #52D017;" ng-click="saveMA13()">
                            Simpan
                        </button>

            
  <!--           </ion-scroll> -->


        </div>
         

        <br />
        <br />
    </ion-content>
</ion-view>