<ion-view view-title="Instrumen MA.14" >
    <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Informasi</strong>
        </div>
        <div class="im-wrapper">
            <center><h4>INSTRUMEN SUPERVISI ADMINISTRASI PERPUSTAKAAN</h4></center><br/>
           <!--  <ion-scroll direction="xy"> -->
                <br/><br/>
                <table border="1" class="data-table" style="table-layout: fixed; width: 624px">
                    <colgroup>
                    <col style="width: 48px">
                    <col style="width: 49px">
                    <col style="width: 49px">
                    <col style="width: 558px">
                    <col style="width: 93px">
                    <col style="width: 49px">
                    <col style="width: 49px">
                    <col style="width: 47px">
                    <col style="width: 51px">
                    <col style="width: 159px">
                    </colgroup>
                      <tr>
                        <th rowspan="2">No.</th>
                        <th rowspan="2" colspan="3">Komponen</th>
                        <th rowspan="2">Tidak Ada</th>
                        <th colspan="4">Ada</th>
                        <th rowspan="2">ket</th>
                      </tr>
                      <tr>
                        <th>4</th>
                        <th>3</th>
                        <th>2</th>
                        <th>1</th>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="3"><b>Perpustakaan</b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>A</td>
                        <td colspan="3">Jadwal Supervisi Perpustakaan</td>
                        <td class="middle-row"><center><input name="radio_a1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_a1"></input></td>
                      </tr>
                      <tr>
                        <td>B</td>
                        <td colspan="3">Program Kerja Perpustakaan</td>
                        <td class="middle-row"><center><input name="radio_b1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_b1"></input></td>
                      </tr>
                      <tr>
                        <td>C</td>
                        <td colspan="3">Ruang perpustakaan memenuhi pembakuan memuat     ( 8m x 15 m ):</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>1</td>
                        <td colspan="2">Ruang Pengolahan dan administrasi</td>
                        <td class="middle-row"><center><input name="radio_c1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c1_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_c1_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>2</td>
                        <td colspan="2">Ruang Baca</td>
                        <td class="middle-row"><center><input name="radio_c2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c2_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_c1_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>3</td>
                        <td colspan="2">Ruang Sudut/Media</td>
                        <td class="middle-row"><center><input name="radio_c3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c3_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_c3_1"></input></td>
                      </tr>
                      <tr>
                        <td>D</td>
                        <td colspan="3">Pengelola Profesional</td>
                        <td class="middle-row"><center><input name="radio_d1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d1_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_d1_1"></input></td>
                      </tr>
                      <tr>
                        <td>E</td>
                        <td colspan="3">Tata tertib dan pelaksanaannya</td>
                        <td class="middle-row"><center><input name="radio_e1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e1_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_e1_1"></input></td>
                      </tr>
                      <tr>
                        <td>F</td>
                        <td colspan="3">Program kerja termasuk jadwal kegiatan</td>
                        <td class="middle-row"><center><input name="radio_f1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f1_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_f1_1"></input></td>
                      </tr>
                      <tr>
                        <td>G</td>
                        <td colspan="3">Perlengkapan:</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>1</td>
                        <td colspan="2">Buku Induk Perpustakaan</td>
                        <td class="middle-row"><center><input name="radio_g1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g1_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_g1_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>2</td>
                        <td colspan="2">Klasifikasi buku, kartu buku</td>
                        <td class="middle-row"><center><input name="radio_g2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g2_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_g2_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>3</td>
                        <td colspan="2">Daftar peminjaman Peserta Didik</td>
                        <td class="middle-row"><center><input name="radio_g3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g3_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_g3_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>4</td>
                        <td colspan="2">Daftar peminjaman guru</td>
                        <td class="middle-row"><center><input name="radio_g4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g4_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_g4_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>5</td>
                        <td colspan="2">Daftar pengunjung</td>
                        <td class="middle-row"><center><input name="radio_g5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g5_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_g5_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>6</td>
                        <td colspan="2">Jadwal kunjungan</td>
                        <td class="middle-row"><center><input name="radio_g6_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g6_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g6_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g6_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g6_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_g6_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>7</td>
                        <td colspan="2">Buku Katalog</td>
                        <td class="middle-row"><center><input name="radio_g7_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g7_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g7_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g7_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g7_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_g7_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>8</td>
                        <td colspan="2">Buku Catatan pegangan guru dan Peserta Didik</td>
                        <td class="middle-row"><center><input name="radio_g8_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g8_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g8_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g8_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g8_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_g8_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>9</td>
                        <td colspan="2">Buku Tamu</td>
                        <td class="middle-row"><center><input name="radio_g9_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g9_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g9_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g9_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g9_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_g9_1"></input></td>
                      </tr>
                      <tr>
                        <td>H</td>
                        <td colspan="3">Tempat Penyimpanan dan Perabot :</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>1</td>
                        <td colspan="2">Lemari, rak</td>
                        <td class="middle-row"><center><input name="radio_h1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_h1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_h1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_h1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_h1_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_h1_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>2</td>
                        <td colspan="2">Meja baca, dan kursi, karpet</td>
                        <td class="middle-row"><center><input name="radio_h2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_h2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_h2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_h2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_h2_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_h2_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>3</td>
                        <td colspan="2">Alat pemadam kebakaran</td>
                        <td class="middle-row"><center><input name="radio_h3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_h3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_h3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_h3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_h3_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_h3_1"></input></td>
                      </tr>
                      <tr>
                        <td>I</td>
                        <td colspan="3">Kondisi Umum</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>1</td>
                        <td colspan="2">Penerangan</td>
                        <td class="middle-row"><center><input name="radio_i1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_i1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_i1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_i1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_i1_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_i1_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>2</td>
                        <td colspan="2">Kebersihan terjaga</td>
                        <td class="middle-row"><center><input name="radio_i2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_i2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_i2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_i2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_i2_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_i2_1"></input></td>
                      </tr>
                      <tr>
                        <td>J</td>
                        <td colspan="3">Koleksi :</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>1</td>
                        <td colspan="2">Buku pelajaran, Buku Pelengkap</td>
                        <td class="middle-row"><center><input name="radio_j1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_j1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_j1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_j1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_j1_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_j1_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>2</td>
                        <td colspan="2">Buku Fiksi/Non Fiksi</td>
                        <td class="middle-row"><center><input name="radio_j2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_j2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_j2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_j2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_j2_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_j2_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>3</td>
                        <td colspan="2">Referensi</td>
                        <td class="middle-row"><center><input name="radio_j3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_j3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_j3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_j3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_j3_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_j3_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>4</td>
                        <td colspan="2">Majalah dan Koran</td>
                        <td class="middle-row"><center><input name="radio_j4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_j4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_j4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_j4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_j4_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_j4_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>5</td>
                        <td colspan="2">Jurnal</td>
                        <td class="middle-row"><center><input name="radio_j5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_j5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_j5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_j5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_j5_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_j5_1"></input></td>
                      </tr>
                      <tr>
                        <td>K</td>
                        <td colspan="3">Pemeliharaan dan penghapusan :</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>1</td>
                        <td colspan="2">Pemeliharaan / perawatan buku</td>
                        <td class="middle-row"><center><input name="radio_k1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_k1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_k1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_k1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_k1_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_k1_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>2</td>
                        <td colspan="2">Penghapusan buku yang rusak / tidak dimanfaatkan</td>
                        <td class="middle-row"><center><input name="radio_k2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_k2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_k2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_k2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_k2_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_k2_1"></input></td>
                      </tr>
                      <tr>
                        <td>L</td>
                        <td colspan="3">Pemberdayaan Perpustakaan</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>1</td>
                        <td colspan="2">Catatan rata-rata (%) pengunjung perbulan</td>
                        <td class="middle-row"><center><input name="radio_l1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_l1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_l1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_l1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_l1_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_l1_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>2</td>
                        <td colspan="2">Catatan rata-rata (%) peminjam perbulan</td>
                        <td class="middle-row"><center><input name="radio_l2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_l2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_l2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_l2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_l2_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_l2_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>3</td>
                        <td colspan="2">Catatan penambahan buku (%) setiap tahun</td>
                        <td class="middle-row"><center><input name="radio_l3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_l3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_l3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_l3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_l3_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_l3_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>4</td>
                        <td colspan="2">Grafik pengunjung, grafik peminjam</td>
                        <td class="middle-row"><center><input name="radio_l4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_l4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_l4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_l4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_l4_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_l4_1"></input></td>
                      </tr>
                      <tr>
                        <td>M</td>
                        <td colspan="3">Laporan kegiatan perpustakaan</td>
                        <td class="middle-row"><center><input name="radio_m1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_m1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_m1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_m1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_m1_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_m1_1"></input></td>
                      </tr>
                      <tr>
                        <td colspan="9">Kesimpulan / Saran</td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td colspan="9"><textarea cols="110" rows="3" name="input_kesimpulan"></textarea>
                      </tr>
                     </table> 
                

                        <br/><br/>
                        <button class="button" style="background-color: #52D017;" ng-click="saveMA14()">
                            Simpan
                        </button>

            
  <!--           </ion-scroll> -->


        </div>
         

        <br />
        <br />
    </ion-content>
</ion-view>