<ion-view view-title="Instrumen MA.15" >
    <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Informasi</strong>
        </div>
        <div class="im-wrapper">
            <center><h4>INSTRUMEN SUPERVISI ADMINISTRASI KEUANGAN DAN PEMBIAYAAN MADRASAH</h4></center><br/>
           <!--  <ion-scroll direction="xy"> -->
                <br/><br/>
                <table border="1" class="data-table" style="table-layout: fixed; width: 624px">
                    <colgroup>
                    <col style="width: 48px">
                    <col style="width: 49px">
                    <col style="width: 49px">
                    <col style="width: 558px">
                    <col style="width: 93px">
                    <col style="width: 49px">
                    <col style="width: 49px">
                    <col style="width: 47px">
                    <col style="width: 51px">
                    <col style="width: 159px">
                    </colgroup>
                      <tr>
                        <th rowspan="2">No.</th>
                        <th rowspan="2" colspan="3">Komponen</th>
                        <th rowspan="2">Tidak Ada</th>
                        <th colspan="4">Ada</th>
                        <th rowspan="2">ket</th>
                      </tr>
                      <tr>
                        <th>4</th>
                        <th>3</th>
                        <th>2</th>
                        <th>1</th>
                      </tr>
                      <tr>
                        <td>A</td>
                        <td colspan="3">Madrasah mempunyai dana yang cukup untuk operasional selama 2 tahun terakhir</td>
                        <td class="middle-row"><center><input name="radio_a1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_a1"></input></td>
                      </tr>
                      <tr>
                        <td>B</td>
                        <td colspan="3">Madrasah memprioritaskan peningkatan mutu dalam menyusun</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>1</td>
                        <td colspan="2">RKM,RKT, RKAM</td>
                        <td class="middle-row"><center><input name="radio_b1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b1_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_b1_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>2</td>
                        <td colspan="2">Buku Kas</td>
                        <td class="middle-row"><center><input name="radio_b2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b2_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_b2_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>3</td>
                        <td colspan="2">Rutin / Gaji</td>
                        <td class="middle-row"><center><input name="radio_b3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b3_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_b3_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>4</td>
                        <td colspan="2">Komite</td>
                        <td class="middle-row"><center><input name="radio_b4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b4_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_b4_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>5</td>
                        <td colspan="2">Sumbangan awal tahun</td>
                        <td class="middle-row"><center><input name="radio_b5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b5_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_b5_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>6</td>
                        <td colspan="2">Iuran bulanan</td>
                        <td class="middle-row"><center><input name="radio_b6_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b6_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b6_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b6_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b6_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_b6_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>7</td>
                        <td colspan="2">Iuran Seukarela</td>
                        <td class="middle-row"><center><input name="radio_b7_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b7_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b7_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b7_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b7_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_b7_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>8</td>
                        <td colspan="2">Iuran Mutasi</td>
                        <td class="middle-row"><center><input name="radio_b8_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b8_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b8_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b8_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b8_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_b8_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>9</td>
                        <td colspan="2">BOS</td>
                        <td class="middle-row"><center><input name="radio_b9_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b9_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b9_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b9_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b9_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_b9_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>10</td>
                        <td colspan="2">Block Grant / Imbal Swadaya</td>
                        <td class="middle-row"><center><input name="radio_b10_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b10_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b10_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b10_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b10_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_b10_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>11</td>
                        <td colspan="2">Rintisan Madrasah Unggulan</td>
                        <td class="middle-row"><center><input name="radio_b11_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b11_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b11_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b11_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b11_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_b11_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>12</td>
                        <td colspan="2">Roll Sharing</td>
                        <td class="middle-row"><center><input name="radio_o1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_o1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_o1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_o1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_o1_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_o1_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>13</td>
                        <td colspan="2">Pemeriksaan Kas</td>
                        <td class="middle-row"><center><input name="radio_p1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_p1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_p1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_p1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_p1_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_p1_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>14</td>
                        <td colspan="2">Surat Pertanggung jawaban</td>
                        <td class="middle-row"><center><input name="radio_h1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_h1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_h1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_h1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_h1_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_h1_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>15</td>
                        <td colspan="2">Buku Kas ditutup tiap bulan</td>
                        <td class="middle-row"><center><input name="radio_b15_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b15_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b15_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b15_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b15_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_b15_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>16</td>
                        <td colspan="2">Brand Kas</td>
                        <td class="middle-row"><center><input name="radio_b16_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b16_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b16_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b16_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b16_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_b16_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>17</td>
                        <td colspan="2">Buku Bank</td>
                        <td class="middle-row"><center><input name="radio_b17_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b17_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b17_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b17_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b17_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_b17_1"></input></td>
                      </tr>
                      <tr>
                        <td>C</td>
                        <td colspan="3">Madrasah mengalokasikan anggaran dalam RKAM untuk pencapaian standar isi</td>
                        <td class="middle-row"><center><input name="radio_c1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_c1"></input></td>
                      </tr>
                      <tr>
                        <td>D</td>
                        <td colspan="3">Madrasah mengalokasikan anggaran dalam RKAM untuk pencapaian standar tenaga pendidik dan kependidikan  </td>
                        <td class="middle-row"><center><input name="radio_d1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_d1"></input></td>
                      </tr>
                      <tr>
                        <td>E</td>
                        <td colspan="3">Madrasah mengalokasikan anggaran dalam RKAM untuk pencapaian standar proses </td>
                        <td class="middle-row"><center><input name="radio_e1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_e1"></input></td>
                      </tr>
                      <tr>
                        <td>F</td>
                        <td colspan="3">Madrasah mengalokasikan anggaran dalam RKAM untuk pencapaian standar sarana dan prasarana pendidikan </td>
                        <td class="middle-row"><center><input name="radio_f1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_f1"></input></td>
                      </tr>
                      <tr>
                        <td>G</td>
                        <td colspan="3">Madrasah mengalokasikan anggaran dalam RKAM untuk pencapaian standar kelulusan</td>
                        <td class="middle-row"><center><input name="radio_g1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_g1"></input></td>
                      </tr>
                      <tr>
                        <td>H</td>
                        <td colspan="3">Madrasah mengalokasikan anggaran dalam RKAM untuk pencapaian standar tenaga pengelolaan</td>
                        <td class="middle-row"><center><input name="radio_h1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_h1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_h1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_h1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_h1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_h1"></input></td>
                      </tr>
                      <tr>
                        <td>I</td>
                        <td colspan="3">Madrasah mengalokasikan anggaran dalam RKAM untuk pencapaian standar pembiayaan</td>
                        <td class="middle-row"><center><input name="radio_i1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_i1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_i1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_i1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_i1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_i1"></input></td>
                      </tr>
                      <tr>
                        <td>J</td>
                        <td colspan="3">Madrasah mengalokasikan anggaran dalam RKAM untuk pencapaian standar penilaian pendidikan</td>
                        <td class="middle-row"><center><input name="radio_j1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_j1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_j1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_j1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_j1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_j1"></input></td>
                      </tr>
                      <tr>
                        <td>K</td>
                        <td colspan="3">Madrasah melaksanakan Kegiatan Pembinaan, Monitoring, dan evaluasi:</td>
                        <td class="middle-row"><center><input name="radio_k1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_k1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_k1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_k1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_k1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_k1"></input></td>
                      </tr>
                      <tr>
                        <td>L</td>
                        <td colspan="3">Madrasah melibatkan komite/yayasan/guru dan orang tua dalam menyusun RKAM:</td>
                        <td class="middle-row"><center><input name="radio_l1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_l1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_l1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_l1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_l1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_l1"></input></td>
                      </tr>
                      <tr>
                        <td>M</td>
                        <td colspan="3">Madrasah melaporkan penggunaan keuangan secara transparan dan periodik kepada orang tua Peserta Didik:</td>
                        <td class="middle-row"><center><input name="radio_m1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_m1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_m1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_m1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_m1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_m1"></input></td>
                      </tr>
                      <tr>
                        <td>N</td>
                        <td colspan="3">Madrasah melaporkan penggunaan keuangan secara transparan dan periodik kepada komite Madrasah/yayasan:</td>
                        <td class="middle-row"><center><input name="radio_n1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_n1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_n1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_n1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_n1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_n1"></input></td>
                      </tr>
                      <tr>
                        <td>O</td>
                        <td colspan="3">Madrasah melaporkan penggunaan keuangan secara transparan dan periodik kepada Kemenag</td>
                        <td class="middle-row"><center><input name="radio_o1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_o1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_o1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_o1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_o1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_o1"></input></td>
                      </tr>
                      <tr>
                        <td>P</td>
                        <td colspan="3">Madrasah menggunakan dana tersebut sesuai dengan RKAM yang telah disusun:</td>
                        <td class="middle-row"><center><input name="radio_p1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_p1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_p1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_p1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_p1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_p1"></input></td>
                      </tr>

                      
                      <tr>
                        <td colspan="9">Kesimpulan / Saran</td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td colspan="9"><textarea cols="110" rows="3" name="input_kesimpulan"></textarea>
                      </tr>
                     </table> 
                

                        <br/><br/>
                        <button class="button" style="background-color: #52D017;" ng-click="saveMA15()">
                            Simpan
                        </button>

            
  <!--           </ion-scroll> -->


        </div>
         

        <br />
        <br />
    </ion-content>
</ion-view>