<ion-view view-title="Instrumen MA.16" >
    <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Informasi</strong>
        </div>
        <div class="im-wrapper">
            <center><h4>INSTRUMEN SUPERVISI LABORATORIUM IPA</h4></center><br/>
           <!--  <ion-scroll direction="xy"> -->
                <br/><br/>
                <table border="1" class="data-table" style="table-layout: fixed; width: 624px">
                    <colgroup>
                    <col style="width: 48px">
                    <col style="width: 49px">
                    <col style="width: 49px">
                    <col style="width: 558px">
                    <col style="width: 93px">
                    <col style="width: 49px">
                    <col style="width: 49px">
                    <col style="width: 47px">
                    <col style="width: 51px">
                    <col style="width: 159px">
                    </colgroup>
                      <tr>
                        <th rowspan="2">No.</th>
                        <th rowspan="2" colspan="3">Komponen</th>
                        <th rowspan="2">Tidak Ada</th>
                        <th colspan="4">Ada</th>
                        <th rowspan="2">ket</th>
                      </tr>
                      <tr>
                        <th>4</th>
                        <th>3</th>
                        <th>2</th>
                        <th>1</th>
                      </tr>
                      <tr>
                        <td>A</td>
                        <td colspan="3">Jadwal Supervisi Lab.</td>
                        <td class="middle-row"><center><input name="radio_a1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_a1"></input></td>
                      </tr>
                      <tr>
                        <td>B</td>
                        <td colspan="3">Buku Program Kerja Laboratorium</td>
                        <td class="middle-row"><center><input name="radio_b1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_b1"></input></td>
                      </tr>
                      <tr>
                        <td>C</td>
                        <td colspan="3">Ruang Laboratorium:</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>1</td>
                        <td colspan="2">Memenuhi ketentuan (8m x 15m)</td>
                        <td class="middle-row"><center><input name="radio_c1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c1_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_c1_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>2</td>
                        <td colspan="2">Bersih dan terawat</td>
                        <td class="middle-row"><center><input name="radio_c2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c2_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_c2_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>3</td>
                        <td colspan="2">Ruang praktik, ruang persiapan, dan gudang laboratorium</td>
                        <td class="middle-row"><center><input name="radio_c3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c3_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_c3_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>4</td>
                        <td colspan="2">Penerangan dan ventilasi</td>
                        <td class="middle-row"><center><input name="radio_c4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c4_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_c4_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>5</td>
                        <td colspan="2">Listrik dan air bersih</td>
                        <td class="middle-row"><center><input name="radio_c5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c5_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_c5_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>6</td>
                        <td colspan="2">Lemari asap</td>
                        <td class="middle-row"><center><input name="radio_c6_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c6_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c6_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c6_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c6_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_c6_1"></input></td>
                      </tr>
                      <tr>
                        <td>D</td>
                        <td colspan="3">Perabot, alat dan bahan : </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>1</td>
                        <td colspan="2">Meja demontrasi</td>
                        <td class="middle-row"><center><input name="radio_d1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d1_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_b1_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>2</td>
                        <td colspan="2">Papan tulis dan meja praktik</td>
                        <td class="middle-row"><center><input name="radio_d2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d2_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_b2_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>3</td>
                        <td colspan="2">Wastafel / bak cuci</td>
                        <td class="middle-row"><center><input name="radio_d3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d3_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_b3_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>4</td>
                        <td colspan="2">Lemari dan rak</td>
                        <td class="middle-row"><center><input name="radio_d4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d4_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_b4_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>5</td>
                        <td colspan="2">Alat dan bahan kimia yang masih berfungsi</td>
                        <td class="middle-row"><center><input name="radio_d5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d5_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_b5_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>6</td>
                        <td colspan="2">Alat pemadam kebakaran</td>
                        <td class="middle-row"><center><input name="radio_d6_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d6_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d6_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d6_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d6_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_b6_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>7</td>
                        <td colspan="2">Kotak P3K dan isinya</td>
                        <td class="middle-row"><center><input name="radio_d7_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d7_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d7_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d7_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d7_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_b7_1"></input></td>
                      </tr>
                      <tr>
                        <td>E</td>
                        <td colspan="3">Pengelola Laboratorium, Laboran dan Petugas Kebersihan: </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>1</td>
                        <td colspan="2">Pengelola Lab (guru IPA)</td>
                        <td class="middle-row"><center><input name="radio_e1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e1_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_e1_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>2</td>
                        <td colspan="2">Laboran</td>
                        <td class="middle-row"><center><input name="radio_e2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e2_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_e2_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>3</td>
                        <td colspan="2">Petugas kebersihan</td>
                        <td class="middle-row"><center><input name="radio_e3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e3_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_e3_1"></input></td>
                      </tr>
                       <tr>
                        <td>F</td>
                        <td colspan="3">Penyimpanan alat :</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>1</td>
                        <td colspan="2">Alat-alat lab di dalam lemari/rak dan tertata rapi</td>
                        <td class="middle-row"><center><input name="radio_f1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f1_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_f1_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>2</td>
                        <td colspan="2">Bahan kimia disimpan dengan baik dan diberi label</td>
                        <td class="middle-row"><center><input name="radio_f2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f2_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_f2_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>3</td>
                        <td colspan="2">Asam kuat disimpan dalam lemari asap</td>
                        <td class="middle-row"><center><input name="radio_f3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f3_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_f3_1"></input></td>
                      </tr>
                      <tr>
                        <td>G</td>
                        <td colspan="3">Administrasi Laboratorium:</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>1</td>
                        <td colspan="2">Struktur organisasi</td>
                        <td class="middle-row"><center><input name="radio_g1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g1_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_g1_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>2</td>
                        <td colspan="2">Jadwal penggunaan lab IPA</td>
                        <td class="middle-row"><center><input name="radio_g2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g2_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_g2_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>3</td>
                        <td colspan="2">Tatatertib Laboratorium</td>
                        <td class="middle-row"><center><input name="radio_g3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g3_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_g3_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>4</td>
                        <td colspan="2">Buku Inventaris alat-alat lab dan bajan-bahan kimia</td>
                        <td class="middle-row"><center><input name="radio_g4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g4_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_g4_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>5</td>
                        <td colspan="2">Buku harian jurnal kegiatan lab.</td>
                        <td class="middle-row"><center><input name="radio_g5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g5_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_g5_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>6</td>
                        <td colspan="2">Buku Stok</td>
                        <td class="middle-row"><center><input name="radio_g6_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g6_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g6_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g6_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g6_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_g6_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>7</td>
                        <td colspan="2">Buku Pinjaman</td>
                        <td class="middle-row"><center><input name="radio_g7_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g7_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g7_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g7_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g7_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_g7_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>8</td>
                        <td colspan="2">Rambu-rambu tanda zat yang berbahaya</td>
                        <td class="middle-row"><center><input name="radio_g8_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g8_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g8_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g8_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g8_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_g8_1"></input></td>
                      </tr>
                      <tr>
                        <td>H</td>
                        <td colspan="3">Frekuensi pendayagunaan alat laboratorium dan topik kegiat-an setiap mata pelajaran IPA:</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>1</td>
                        <td colspan="2">Rekapitulasi pendayagunaan alat berdasarkan jurnal kegiatan</td>
                        <td class="middle-row"><center><input name="radio_h1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_h1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_h1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_h1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_h1_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_h1_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>2</td>
                        <td colspan="2">Rekapitulasi topik kegiatan praktik berdasarkan jurnal kegiatan</td>
                        <td class="middle-row"><center><input name="radio_h2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_h2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_h2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_h2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_h2_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_h2_1"></input></td>
                      </tr>
                      <tr>
                        <td>I</td>
                        <td colspan="3">Laporan Praktik</td>
                        <td class="middle-row"><center><input name="radio_i2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_i2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_i2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_i2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_i2_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_i2_1"></input></td>
                      </tr>
                                      
                      <tr>
                        <td colspan="9">Kesimpulan / Saran</td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td colspan="9"><textarea cols="110" rows="3" name="input_kesimpulan"></textarea>
                      </tr>
                     </table> 
                

                        <br/><br/>
                        <button class="button" style="background-color: #52D017;" ng-click="saveMA16()">
                            Simpan
                        </button>

            
  <!--           </ion-scroll> -->


        </div>
         

        <br />
        <br />
    </ion-content>
</ion-view>