<ion-view view-title="Instrumen MA.17" >
    <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Informasi</strong>
        </div>
        <div class="im-wrapper">
            <center><h4>INSTRUMEN SUPERVISI BIMBINGAN DAN KONSELING</h4></center><br/>
           <!--  <ion-scroll direction="xy"> -->
                <br/><br/>
                <table border="1" class="data-table" style="table-layout: fixed; width: 624px">
                    <colgroup>
                    <col style="width: 48px">
                    <col style="width: 49px">
                    <col style="width: 49px">
                    <col style="width: 558px">
                    <col style="width: 93px">
                    <col style="width: 49px">
                    <col style="width: 49px">
                    <col style="width: 47px">
                    <col style="width: 51px">
                    <col style="width: 159px">
                    </colgroup>
                      <tr>
                        <th rowspan="2">No.</th>
                        <th rowspan="2" colspan="3">Komponen</th>
                        <th rowspan="2">Tidak Ada</th>
                        <th colspan="4">Ada</th>
                        <th rowspan="2">ket</th>
                      </tr>
                      <tr>
                        <th>4</th>
                        <th>3</th>
                        <th>2</th>
                        <th>1</th>
                      </tr>
                      <tr>
                        <td>A</td>
                        <td colspan="3">SARANA / PRASARANA :</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>1</td>
                        <td colspan="2">Jadwal Supervisi BK</td>
                        <td class="middle-row"><center><input name="radio_a1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a1_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_a1_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>2</td>
                        <td colspan="2">Ruang khusus BK ( 8m x 7m )</td>
                        <td class="middle-row"><center><input name="radio_a2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a2_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_a2_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>3</td>
                        <td colspan="2">Program BK lengkap (tahunan, semester, bulanan, dan jadwal kegiatan)</td>
                        <td class="middle-row"><center><input name="radio_a3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a3_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_a3_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>4</td>
                        <td colspan="2">Buku Panduan Umum Layanan BK berbasis kompetensi</td>
                        <td class="middle-row"><center><input name="radio_a4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a4_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_a4_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>5</td>
                        <td colspan="2">Buku Administrasi BK (Penghubung, Catatan Kasusu dan penyelesaiannya)</td>
                        <td class="middle-row"><center><input name="radio_a5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a5_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_a5_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>6</td>
                        <td colspan="2">Silabus Layanan BK dan Satuan Layanan</td>
                        <td class="middle-row"><center><input name="radio_a6_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a6_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a6_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a6_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a6_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_a6_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>7</td>
                        <td colspan="2">Kohort Peserta Didik</td>
                        <td class="middle-row"><center><input name="radio_a7_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a7_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a7_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a7_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a7_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_a7_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>8</td>
                        <td colspan="2">Evaluasi lengkap ( semester 1 dan semester 2 )</td>
                        <td class="middle-row"><center><input name="radio_a8_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a8_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a8_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a8_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a8_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_a8_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>9</td>
                        <td colspan="2">Analisis lengkap (semester 1 dan semester 2 )</td>
                        <td class="middle-row"><center><input name="radio_a9_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a9_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a9_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a9_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a9_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_a9_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>10</td>
                        <td colspan="2">Tindak lanjut lengkap (semester 1 dan semester 2)</td>
                        <td class="middle-row"><center><input name="radio_a10_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a10_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a10_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a10_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a10_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_a10_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>11</td>
                        <td colspan="2">Laporan lengkap ( per semester, per tahun )</td>
                        <td class="middle-row"><center><input name="radio_a11_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a11_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a11_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a11_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a11_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_a11_1"></input></td>
                      </tr>
                      <tr>
                        <td>B</td>
                        <td colspan="3">PERSONIL :</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>1</td>
                        <td colspan="2">Guru pembimbing berlatar belakang BK dan ada koordinatornya</td>
                        <td class="middle-row"><center><input name="radio_b1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b1_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_b1_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>2</td>
                        <td colspan="2">Rasio guru pembimbing Peserta Didik memenuhi syarat (1 : 150 )</td>
                        <td class="middle-row"><center><input name="radio_b2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b2_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_b2_1"></input></td>
                      </tr>
                      <tr>
                        <td>C</td>
                        <td colspan="3">KEGIATAN BIMBINGAN:</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>1</td>
                        <td colspan="2">Bimbingan PribadiK</td>
                        <td class="middle-row"><center><input name="radio_c1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c1_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_c1_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>2</td>
                        <td colspan="2">Bimbingan Sosial</td>
                        <td class="middle-row"><center><input name="radio_c2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c2_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_c2_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>3</td>
                        <td colspan="2">Bimbingan Belajar</td>
                        <td class="middle-row"><center><input name="radio_c3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c3_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_c3_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>4</td>
                        <td colspan="2">Bimbingan Karir</td>
                        <td class="middle-row"><center><input name="radio_c4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c4_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_c4_1"></input></td>
                      </tr>
                      <tr>
                        <td>D</td>
                        <td colspan="3">KEGIATAN LAYANAN:</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>1</td>
                        <td colspan="2">Pelaksanaan layanan informasi</td>
                        <td class="middle-row"><center><input name="radio_d1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d1_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_d1_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>2</td>
                        <td colspan="2">Pelaksanaan layanan orientasi</td>
                        <td class="middle-row"><center><input name="radio_d2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d2_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_d2_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>3</td>
                        <td colspan="2">Pelaksanaan layanan pembelajaran</td>
                        <td class="middle-row"><center><input name="radio_d3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d3_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_d3_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>4</td>
                        <td colspan="2">Pelaksanaan layanan bimbingan kelompok</td>
                        <td class="middle-row"><center><input name="radio_d4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d4_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_d4_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>5</td>
                        <td colspan="2">Pelaksanaan layanan penempatan dan penyaluran</td>
                        <td class="middle-row"><center><input name="radio_d5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d5_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_d5_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>6</td>
                        <td colspan="2">Pelaksanaan layanan konseling kelompok</td>
                        <td class="middle-row"><center><input name="radio_d6_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d6_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d6_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d6_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d6_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_d6_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>7</td>
                        <td colspan="2">Pelaksanaan layanan konseling individu dilaksanakan dengan terencana</td>
                        <td class="middle-row"><center><input name="radio_d7_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d7_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d7_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d7_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d7_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_d7_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>8</td>
                        <td colspan="2">Keterliabatan dalam pengembangan diri / pembiasaan</td>
                        <td class="middle-row"><center><input name="radio_d8_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d8_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d8_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d8_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d8_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_d8_1"></input></td>
                      </tr>
                      <tr>
                        <td>E</td>
                        <td colspan="3">KEGIATAN PENDUKUNG :</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>1</td>
                        <td colspan="2">Aplikasi Instrumen BK (Psikotes, Angket, Non tes, Tes)</td>
                        <td class="middle-row"><center><input name="radio_e1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e1_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_e1_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>2</td>
                        <td colspan="2">Penyelenggaraan himpunan data (Pribadi Peserta Didik, Prestasi, Observasi, Absensi Peserta Didik, Catatan Kejadian) lengkap</td>
                        <td class="middle-row"><center><input name="radio_e2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e2_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_e2_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>3</td>
                        <td colspan="2">Penyelenggaraan konferensi kasus</td>
                        <td class="middle-row"><center><input name="radio_e3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e3_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_e3_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>4</td>
                        <td colspan="2">Penyelenggaraan Kunjungan rumah</td>
                        <td class="middle-row"><center><input name="radio_e4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e4_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_e4_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>5</td>
                        <td colspan="2">Pernah melaksanakan alih tangan tugas</td>
                        <td class="middle-row"><center><input name="radio_e5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e5_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_e5_1"></input></td>
                      </tr>
                      <tr>
                        <td>F</td>
                        <td colspan="3">EVALUASI, ANALISIS, TINDAK LANJUT DAN LAPORAN</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>1</td>
                        <td colspan="2">Evaluasi lengkap (Penilaian Proses layanan dan penilaian hasil layanan: segera, jangka pendek, dan jangka panjang)</td>
                        <td class="middle-row"><center><input name="radio_f1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f1_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_f1_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>2</td>
                        <td colspan="2">Analisis dan tindak lanjut lengkap (Semester 1 dan Semester 2 )</td>
                        <td class="middle-row"><center><input name="radio_f2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f2_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_f2_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>3</td>
                        <td colspan="2">Laporan Semester danLaporan Tahunan</td>
                        <td class="middle-row"><center><input name="radio_f3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f3_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_f3_1"></input></td>
                      </tr>
                                      
                      <tr>
                        <td colspan="9">Kesimpulan / Saran</td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td colspan="9"><textarea cols="110" rows="3" name="input_kesimpulan"></textarea>
                      </tr>
                     </table> 
                

                        <br/><br/>
                        <button class="button" style="background-color: #52D017;" ng-click="saveMA17()">
                            Simpan
                        </button>

            
  <!--           </ion-scroll> -->


        </div>
         

        <br />
        <br />
    </ion-content>
</ion-view>