<ion-view view-title="Instrumen MA.18" >
    <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Informasi</strong>
        </div>
        <div class="im-wrapper">
            <center><h4>INSTRUMEN SUPERVISI KERJASAMA DENGAN KOMITE MADRASAH DAN MASYARAKAT</h4></center><br/>
           <!--  <ion-scroll direction="xy"> -->
                <br/><br/>
                <table border="1" class="data-table" style="table-layout: fixed; width: 624px">
                    <colgroup>
                    <col style="width: 48px">
                    <col style="width: 49px">
                    <col style="width: 49px">
                    <col style="width: 558px">
                    <col style="width: 93px">
                    <col style="width: 49px">
                    <col style="width: 49px">
                    <col style="width: 47px">
                    <col style="width: 51px">
                    <col style="width: 159px">
                    </colgroup>
                      <tr>
                        <th rowspan="2">No.</th>
                        <th rowspan="2" colspan="3">Komponen</th>
                        <th rowspan="2">Tidak Ada</th>
                        <th colspan="4">Ada</th>
                        <th rowspan="2">ket</th>
                      </tr>
                      <tr>
                        <th>4</th>
                        <th>3</th>
                        <th>2</th>
                        <th>1</th>
                      </tr>
                      <tr>
                        <td>A</td>
                        <td colspan="3">Komite Madrasah</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>1</td>
                        <td colspan="2">SK pengangkatan komite</td>
                        <td class="middle-row"><center><input name="radio_a1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a1_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_a1_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>2</td>
                        <td colspan="2">AD/ART Komite</td>
                        <td class="middle-row"><center><input name="radio_a2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a2_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_a2_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>3</td>
                        <td colspan="2">Bagan/struktur organisasi</td>
                        <td class="middle-row"><center><input name="radio_a3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a3_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_a3_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>4</td>
                        <td colspan="2">Susunan pengurus / rincian tugas</td>
                        <td class="middle-row"><center><input name="radio_a4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a4_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_a4_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>5</td>
                        <td colspan="2">Program kerja</td>
                        <td class="middle-row"><center><input name="radio_a5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a5_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_a5_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>6</td>
                        <td colspan="2">Pelaksanaannya</td>
                        <td class="middle-row"><center><input name="radio_a6_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a6_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a6_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a6_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a6_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_a6_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>7</td>
                        <td colspan="2">Laporan tahunan komite</td>
                        <td class="middle-row"><center><input name="radio_a7_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a7_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a7_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a7_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a7_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_a7_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>8</td>
                        <td colspan="2">Notulen rapat</td>
                        <td class="middle-row"><center><input name="radio_a8_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a8_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a8_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a8_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a8_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_a8_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>9</td>
                        <td colspan="2">Daftar Hadir</td>
                        <td class="middle-row"><center><input name="radio_a9_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a9_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a9_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a9_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a9_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_a9_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>10</td>
                        <td colspan="2">Agenda surat masuk / keluar</td>
                        <td class="middle-row"><center><input name="radio_a10_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a10_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a10_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a10_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a10_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_a10_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>11</td>
                        <td colspan="2">Arsip Surat</td>
                        <td class="middle-row"><center><input name="radio_a11_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a11_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a11_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a11_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a11_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_a11_1"></input></td>
                      </tr>
                      <tr>
                        <td>B</td>
                        <td colspan="3">Lingkungan Masyarakat</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>1</td>
                        <td colspan="2">Madrasah memiliki program kerja sama dengan lembaga pendidikan/non pendidikan untuk mengembangkan Madrasah</td>
                        <td class="middle-row"><center><input name="radio_b1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b1_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_b1_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>2</td>
                        <td colspan="2">Madrasah memiliki program menjalin hubungan dengan alumni untuk pengembangan Madrasah dan masyarakat</td>
                        <td class="middle-row"><center><input name="radio_b2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b2_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_b2_1"></input></td>
                      </tr>
                      <tr>
                        <td>C</td>
                        <td colspan="3">Yayasan</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>1</td>
                        <td colspan="2">Bagan dan Struktur organisasi (organigram)</td>
                        <td class="middle-row"><center><input name="radio_c1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c1_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_c1_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>2</td>
                        <td colspan="2">Susunan Pengurus dan uraian tugas</td>
                        <td class="middle-row"><center><input name="radio_c2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c2_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_c2_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>3</td>
                        <td colspan="2">Program kerja</td>
                        <td class="middle-row"><center><input name="radio_c3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c3_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_c3_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>4</td>
                        <td colspan="2">Pelaksanaannya</td>
                        <td class="middle-row"><center><input name="radio_c4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c4_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_c4_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>5</td>
                        <td colspan="2">Laporan tahunan komite</td>
                        <td class="middle-row"><center><input name="radio_c5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c5_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c5_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_c5_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>6</td>
                        <td colspan="2">Notulen rapat</td>
                        <td class="middle-row"><center><input name="radio_c6_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c6_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c6_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c6_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c6_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_c6_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>7</td>
                        <td colspan="2">Daftar Hadir</td>
                        <td class="middle-row"><center><input name="radio_c7_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c7_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c7_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c7_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c7_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_c7_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>8</td>
                        <td colspan="2">Agenda surat masuk / keluar</td>
                        <td class="middle-row"><center><input name="radio_c8_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c8_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c8_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c8_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c8_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_c8_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>9</td>
                        <td colspan="2">Arsip Surat</td>
                        <td class="middle-row"><center><input name="radio_c9_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c9_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c9_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c9_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c9_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_c9_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>10</td>
                        <td colspan="2">Laporan pertanggungjawaban tahunan</td>
                        <td class="middle-row"><center><input name="radio_c10_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c10_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c10_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c10_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c10_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_c10_1"></input></td>
                      </tr>
                                      
                      <tr>
                        <td colspan="9">Kesimpulan / Saran</td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td colspan="9"><textarea cols="110" rows="3" name="input_kesimpulan"></textarea>
                      </tr>
                     </table> 
                

                        <br/><br/>
                        <button class="button" style="background-color: #52D017;" ng-click="saveMA18()">
                            Simpan
                        </button>

            
  <!--           </ion-scroll> -->


        </div>
         

        <br />
        <br />
    </ion-content>
</ion-view>