<ion-view view-title="Instrumen MA.19" >
    <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Informasi</strong>
        </div>
        <div class="im-wrapper">
            <center><h4>INSTRUMEN SUPERVISI KEAMANAN, KEBERSIHAN, KEINDAHAN, KEKELUARGAAN, KERINDANGAN DAN KESEHATAN</h4></center><br/>
           <!--  <ion-scroll direction="xy"> -->
                <br/><br/>
                <table border="1" class="data-table" style="table-layout: fixed; width: 624px">
                    <colgroup>
                    <col style="width: 48px">
                    <col style="width: 49px">
                    <col style="width: 49px">
                    <col style="width: 558px">
                    <col style="width: 93px">
                    <col style="width: 49px">
                    <col style="width: 49px">
                    <col style="width: 47px">
                    <col style="width: 51px">
                    <col style="width: 159px">
                    </colgroup>
                      <tr>
                        <th rowspan="2">No.</th>
                        <th rowspan="2" colspan="3">Komponen</th>
                        <th rowspan="2">Tidak Ada</th>
                        <th colspan="4">Ada</th>
                        <th rowspan="2">ket</th>
                      </tr>
                      <tr>
                        <th>4</th>
                        <th>3</th>
                        <th>2</th>
                        <th>1</th>
                      </tr>
                      <tr>
                        <td>A</td>
                        <td colspan="3">Program Kerja</td>
                        <td class="middle-row"><center><input name="radio_a1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a1_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_a1_1"></input></td>
                      </tr>
                      <tr>
                        <td>B</td>
                        <td colspan="3">Susunan pengelola K7 dan uraian tugasnya</td>
                        <td class="middle-row"><center><input name="radio_b1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b1_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_b1_1"></input></td>
                      </tr>
                      <tr>
                        <td>C</td>
                        <td colspan="3">Yayasan</td>
                        <td class="middle-row"><center><input name="radio_c1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c1_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_c1_1"></input></td>
                      </tr>
                      <tr>
                        <td>D</td>
                        <td colspan="3">Melaksanakan program keamanan, antara lain:</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>1</td>
                        <td colspan="2">Memiliki pagar / benteng</td>
                        <td class="middle-row"><center><input name="radio_d1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d1_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_d1_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>2</td>
                        <td colspan="2">Tralis, Brankas, dan Kunci</td>
                        <td class="middle-row"><center><input name="radio_d2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d2_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_d2_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>3</td>
                        <td colspan="2">Satpam</td>
                        <td class="middle-row"><center><input name="radio_d3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d3_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_d3_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>4</td>
                        <td colspan="2">Piket</td>
                        <td class="middle-row"><center><input name="radio_d4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d4_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_d4_1"></input></td>
                      </tr>
                      <tr>
                        <td>E</td>
                        <td colspan="3">Melaksanakan Program Kebersihan antara lain:</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>1</td>
                        <td colspan="2">Di lingkungan Madrasah</td>
                        <td class="middle-row"><center><input name="radio_e1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e1_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_e1_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>2</td>
                        <td colspan="2">Semua ruangan, WC, Tempat Ibadah, dll</td>
                        <td class="middle-row"><center><input name="radio_e2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e2_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_e2_1"></input></td>
                      </tr>
                      <tr>
                        <td>F</td>
                        <td colspan="3">Melaksanakan Program Ketertiban, antara lain :</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>1</td>
                        <td colspan="2">Pelaksanaan Pembelajaran</td>
                        <td class="middle-row"><center><input name="radio_f1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f1_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_f1_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>2</td>
                        <td colspan="2">Memberi kesempatan kepada semua warga Madrasah untuk beribadah sesuai dengan agama yang dianutnya</td>
                        <td class="middle-row"><center><input name="radio_f2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f2_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_f2_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>3</td>
                        <td colspan="2">Kehadiran Peserta Didik, guru dan pegawai TU</td>
                        <td class="middle-row"><center><input name="radio_f3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f3_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_f3_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>4</td>
                        <td colspan="2">Tersedianya tata tertib untuk Peserta Didik, guru, pegawai TU dan Karyawan lainnyat</td>
                        <td class="middle-row"><center><input name="radio_f4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f4_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f4_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_f4_1"></input></td>
                      </tr>
                      <tr>
                        <td>G</td>
                        <td colspan="3">Melaksanakan Program Keindahan Madrasah, antara lain:</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>1</td>
                        <td colspan="2">Taman Madrasah, tanaman hidup</td>
                        <td class="middle-row"><center><input name="radio_g1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g1_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_g1_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>2</td>
                        <td colspan="2">Di lingkungan Madrasah</td>
                        <td class="middle-row"><center><input name="radio_g2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g2_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_g2_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>3</td>
                        <td colspan="2">Di setiap ruangan</td>
                        <td class="middle-row"><center><input name="radio_g3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g3_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_g3_1"></input></td>
                      </tr>
                      <tr>
                        <td>H</td>
                        <td colspan="3">Melaksanakan Program Kekeluargaan, antara lain:</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>1</td>
                        <td colspan="2">Pertemuan/Kegiatan Kekeluargaan Rutin dengan semua warga Madrasah</td>
                        <td class="middle-row"><center><input name="radio_h1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_h1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_h1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_h1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_h1_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_h1_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>2</td>
                        <td colspan="2">Hubungan sosial dengan semua warga Madrasah</td>
                        <td class="middle-row"><center><input name="radio_h2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_h2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_h2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_h2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_h2_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_h2_1"></input></td>
                      </tr>
                      <tr>
                        <td>I</td>
                        <td colspan="3">Melaksanakan Program Kerindangan dan Resapan Air:</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>1</td>
                        <td colspan="2">Penghijauan/perindangan di Madrasah</td>
                        <td class="middle-row"><center><input name="radio_i1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_i1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_i1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_i1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_i1_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_i1_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>2</td>
                        <td colspan="2">Membuat resapan air</td>
                        <td class="middle-row"><center><input name="radio_i2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_i2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_i2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_i2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_i2_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_i2_1"></input></td>
                      </tr>
                      <tr>
                        <td>J</td>
                        <td colspan="3">Melaksanakan Program Kesehatan, antara lain :</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>1</td>
                        <td colspan="2">Usaha Kesehatan Madrasah</td>
                        <td class="middle-row"><center><input name="radio_j1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_j1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_j1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_j1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_j1_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_j1_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>2</td>
                        <td colspan="2">Olahraga Rutin / SKJ</td>
                        <td class="middle-row"><center><input name="radio_j2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_j2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_j2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_j2_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_j2_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_j2_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>3</td>
                        <td colspan="2">Bekerjasama dengan Puskesmas Terdekat</td>
                        <td class="middle-row"><center><input name="radio_j3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_j3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_j3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_j3_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_j3_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_j3_1"></input></td>
                      </tr>
                                      
                      <tr>
                        <td colspan="9">Kesimpulan / Saran</td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td colspan="9"><textarea cols="110" rows="3" name="input_kesimpulan"></textarea>
                      </tr>
                     </table> 
                

                        <br/><br/>
                        <button class="button" style="background-color: #52D017;" ng-click="saveMA19()">
                            Simpan
                        </button>

            
  <!--           </ion-scroll> -->


        </div>
         

        <br />
        <br />
    </ion-content>
</ion-view>