
<ion-view view-title="Instrumen MA.2" >
    <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Informasi</strong>
        </div>
        <div class="im-wrapper">
            <center><h4>Instrumen Persiapan Kegiatan Awal Tahun</h4></center><br/>
            <ion-scroll direction="xy">
                <table class="data-table" style="table-layout: fixed; width: 1100px">
                    <colgroup>
                    <col style="width: 53px">
                    <col style="width: 58px">
                    <col style="width: 416px">
                    <col style="width: 128px">
                    <col style="width: 63px">
                    <col style="width: 61px">
                    <col style="width: 67px">
                    <col style="width: 73px">
                    <col style="width: 181px">
                    </colgroup>
                      <tr>
                        <th rowspan="2">NO.</th>
                        <th colspan="2" rowspan="2">ASPEK KEGIATAN/KONDISI</th>
                        <th rowspan="2">Tidak Ada</th>
                        <th colspan="4">Ada</th>
                        <th rowspan="2">Keterangan</th>
                      </tr>
                      <tr>
                        <th>4</th>
                        <th>3</th>
                        <th>2</th>
                        <th>1</th>
                      </tr>
                      <tr>
                        <td>A.</td>
                        <td colspan="2">RAPAT KERJA AWAL TAHUN</td>
                        <td colspan="5"></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>1.</td>
                        <td>Dilaksanakan menjelang atau awal tahun pelajaran</td>
                        <td class="middle-row"><center><input name="radio_1" type="radio" ng-model="model.ma2_1"/></center></td>
                        <td class="middle-row"><center><input name="radio_1" type="radio" ng-model="model.ma2_2"/></center></td>
                        <td class="middle-row"><center><input name="radio_1" type="radio" ng-model="model.ma2_3"/></center></td>
                        <td class="middle-row"><center><input name="radio_1" type="radio" ng-model="model.ma2_4"/></center></td>
                        <td class="middle-row"><center><input name="radio_1" type="radio" ng-model="model.ma2_5"/></center></td>
                        <td rowspan="5">Hari/Tanggal<input type="text" style="width: 150px;" ng-model="model.ma2_6"/></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>2.</td>
                        <td>Daftar hadir rapat kerja, melibatkan guru, pegawai, perwakilan OSIS, komite Madrasah</td>
                        <td class="middle-row"><center><input name="radio_2" type="radio" ng-model="model.ma2_7"/></center></td>
                        <td class="middle-row"><center><input name="radio_2" type="radio" ng-model="model.ma2_8"/></center></td>
                        <td class="middle-row"><center><input name="radio_2" type="radio" ng-model="model.ma2_9"/></center></td>
                        <td class="middle-row"><center><input name="radio_2" type="radio" ng-model="model.ma2_10"/></center></td>
                        <td class="middle-row"><center><input name="radio_2" type="radio" ng-model="model.ma2_11"/></center></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>3.</td>
                        <td>Kesesuaian konsep bahasan dengan visi dan misi Madrasah</td>
                        <td class="middle-row"><center><input name="radio_3" type="radio" ng-model="model.ma2_12"/></center></td>
                        <td class="middle-row"><center><input name="radio_3" type="radio" ng-model="model.ma2_13"/></center></td>
                        <td class="middle-row"><center><input name="radio_3" type="radio" ng-model="model.ma2_14"/></center></td>
                        <td class="middle-row"><center><input name="radio_3" type="radio" ng-model="model.ma2_15"/></center></td>
                        <td class="middle-row"><center><input name="radio_3" type="radio" ng-model="model.ma2_16"/></center></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>4.</td>
                        <td>Notulen rapat ditandatangani pimpinan rapat</td>
                        <td class="middle-row"><center><input name="radio_4" type="radio" ng-model="model.ma2_17"/></center></td>
                        <td class="middle-row"><center><input name="radio_4" type="radio" ng-model="model.ma2_18"/></center></td>
                        <td class="middle-row"><center><input name="radio_4" type="radio" ng-model="model.ma2_19"/></center></td>
                        <td class="middle-row"><center><input name="radio_4" type="radio" ng-model="model.ma2_20"/></center></td>
                        <td class="middle-row"><center><input name="radio_4" type="radio" ng-model="model.ma2_21"/></center></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>5.</td>
                        <td>Hasil rapat kerja (RKM, RKT, RKAM, pembagian tugas dan tugas tambahan lainnya)</td>
                        <td class="middle-row"><center><input name="radio_5" type="radio" ng-model="model.ma2_22"/></center></td>
                        <td class="middle-row"><center><input name="radio_5" type="radio" ng-model="model.ma2_23"/></center></td>
                        <td class="middle-row"><center><input name="radio_5" type="radio" ng-model="model.ma2_24"/></center></td>
                        <td class="middle-row"><center><input name="radio_5" type="radio" ng-model="model.ma2_25"/></center></td>
                        <td class="middle-row"><center><input name="radio_5" type="radio" ng-model="model.ma2_26"/></center></td>
                      </tr>
                      <tr>
                        <td>B.</td>
                        <td colspan="2">PENERIMAAN PESERTA DIDIK BARU (PPDB)</td>
                        <td colspan="5"></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>1.</td>
                        <td>Panitia PPDB dan uraian tugas</td>
                        <td class="middle-row"><center><input name="radio_6" type="radio" ng-model="model.ma2_27"/></center></td>
                        <td class="middle-row"><center><input name="radio_6" type="radio" ng-model="model.ma2_28"/></center></td>
                        <td class="middle-row"><center><input name="radio_6" type="radio" ng-model="model.ma2_29"/></center></td>
                        <td class="middle-row"><center><input name="radio_6" type="radio" ng-model="model.ma2_30"/></center></td>
                        <td class="middle-row"><center><input name="radio_6" type="radio" ng-model="model.ma2_31"/></center></td>
                        <td rowspan="2">Jumlah Pendaftar<input type="number" style="width: 100px;" ng-model="model.ma2_32"/></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>2.</td>
                        <td>Persyaratan PPDB</td>
                        <td class="middle-row"><center><input name="radio_7" type="radio" ng-model="model.ma2_33"/></center></td>
                        <td class="middle-row"><center><input name="radio_7" type="radio" ng-model="model.ma2_34"/></center></td>
                        <td class="middle-row"><center><input name="radio_7" type="radio" ng-model="model.ma2_35"/></center></td>
                        <td class="middle-row"><center><input name="radio_7" type="radio" ng-model="model.ma2_36"/></center></td>
                        <td class="middle-row"><center><input name="radio_7" type="radio" ng-model="model.ma2_37"/></center></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>3.</td>
                        <td>Pendaftar lebih banyak dari daya tampung</td>
                        <td class="middle-row"><center><input name="radio_8" type="radio" ng-model="model.ma2_38"/></center></td>
                        <td class="middle-row"><center><input name="radio_8" type="radio" ng-model="model.ma2_39"/></center></td>
                        <td class="middle-row"><center><input name="radio_8" type="radio" ng-model="model.ma2_40"/></center></td>
                        <td class="middle-row"><center><input name="radio_8" type="radio" ng-model="model.ma2_41"/></center></td>
                        <td class="middle-row"><center><input name="radio_8" type="radio" ng-model="model.ma2_42"/></center></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>4.</td>
                        <td>Seleksi PPDB dilaksanakan secara tranparan</td>
                        <td class="middle-row"><center><input name="radio_9" type="radio" ng-model="model.ma2_43"/></center></td>
                        <td class="middle-row"><center><input name="radio_9" type="radio" ng-model="model.ma2_44"/></center></td>
                        <td class="middle-row"><center><input name="radio_9" type="radio" ng-model="model.ma2_45"/></center></td>
                        <td class="middle-row"><center><input name="radio_9" type="radio" ng-model="model.ma2_46"/></center></td>
                        <td class="middle-row"><center><input name="radio_9" type="radio" ng-model="model.ma2_47"/></center></td>
                        <td rowspan="2">Daya Tampung<input type="number" style="width: 100px;" ng-model="model.ma2_48"/></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>5.</td>
                        <td>Kegiatan PPDB teradministrasi dengan baik</td>
                        <td class="middle-row"><center><input name="radio_10" type="radio" ng-model="model.ma2_49"/></center></td>
                        <td class="middle-row"><center><input name="radio_10" type="radio" ng-model="model.ma2_50"/></center></td>
                        <td class="middle-row"><center><input name="radio_10" type="radio" ng-model="model.ma2_51"/></center></td>
                        <td class="middle-row"><center><input name="radio_10" type="radio" ng-model="model.ma2_52"/></center></td>
                        <td class="middle-row"><center><input name="radio_10" type="radio" ng-model="model.ma2_53"/></center></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>6.</td>
                        <td>Rasio kelas maksimum 32 Peserta Didik</td>
                        <td class="middle-row"><center><input name="radio_11" type="radio" ng-model="model.ma2_54"/></center></td>
                        <td class="middle-row"><center><input name="radio_11" type="radio" ng-model="model.ma2_55"/></center></td>
                        <td class="middle-row"><center><input name="radio_11" type="radio" ng-model="model.ma2_56"/></center></td>
                        <td class="middle-row"><center><input name="radio_11" type="radio" ng-model="model.ma2_57"/></center></td>
                        <td class="middle-row"><center><input name="radio_11" type="radio" ng-model="model.ma2_58"/></center></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>C.</td>
                        <td colspan="2">MASA ORIENTASI PESERTA DIDIK (MOPD)</td>
                        <td colspan="5"></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>1.</td>
                        <td>Panitia MOPD dan uraian tugas</td>
                        <td class="middle-row"><center><input name="radio_12" type="radio" ng-model="model.ma2_54"/></center></td>
                        <td class="middle-row"><center><input name="radio_12" type="radio" ng-model="model.ma2_55"/></center></td>
                        <td class="middle-row"><center><input name="radio_12" type="radio" ng-model="model.ma2_56"/></center></td>
                        <td class="middle-row"><center><input name="radio_12" type="radio" ng-model="model.ma2_57"/></center></td>
                        <td class="middle-row"><center><input name="radio_12" type="radio" ng-model="model.ma2_58"/></center></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>2.</td>
                        <td>Pedoman penyelenggaraan</td>
                        <td class="middle-row"><center><input name="radio_13" type="radio" ng-model="model.ma2_54"/></center></td>
                        <td class="middle-row"><center><input name="radio_13" type="radio" ng-model="model.ma2_55"/></center></td>
                        <td class="middle-row"><center><input name="radio_13" type="radio" ng-model="model.ma2_56"/></center></td>
                        <td class="middle-row"><center><input name="radio_13" type="radio" ng-model="model.ma2_57"/></center></td>
                        <td class="middle-row"><center><input name="radio_13" type="radio" ng-model="model.ma2_58"/></center></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>3.</td>
                        <td>Jadwal pelaksanaan dan materi kegiatan</td>
                        <td class="middle-row"><center><input name="radio_14" type="radio" ng-model="model.ma2_54"/></center></td>
                        <td class="middle-row"><center><input name="radio_14" type="radio" ng-model="model.ma2_55"/></center></td>
                        <td class="middle-row"><center><input name="radio_14" type="radio" ng-model="model.ma2_56"/></center></td>
                        <td class="middle-row"><center><input name="radio_14" type="radio" ng-model="model.ma2_57"/></center></td>
                        <td class="middle-row"><center><input name="radio_14" type="radio" ng-model="model.ma2_58"/></center></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>4.</td>
                        <td>Laporan pelakanaan MOPD</td>
                        <td class="middle-row"><center><input name="radio_15" type="radio" ng-model="model.ma2_54"/></center></td>
                        <td class="middle-row"><center><input name="radio_15" type="radio" ng-model="model.ma2_55"/></center></td>
                        <td class="middle-row"><center><input name="radio_15" type="radio" ng-model="model.ma2_56"/></center></td>
                        <td class="middle-row"><center><input name="radio_15" type="radio" ng-model="model.ma2_57"/></center></td>
                        <td class="middle-row"><center><input name="radio_15" type="radio" ng-model="model.ma2_58"/></center></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>D.</td>
                        <td colspan="2">PERSIAPAN KEGIATAN PEMBELAJARAN</td>
                        <td colspan="5"></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>1.</td>
                        <td>Kalender pendidikan Madrasah</td>
                        <td class="middle-row"><center><input name="radio_16" type="radio" ng-model="model.ma2_54"/></center></td>
                        <td class="middle-row"><center><input name="radio_16" type="radio" ng-model="model.ma2_55"/></center></td>
                        <td class="middle-row"><center><input name="radio_16" type="radio" ng-model="model.ma2_56"/></center></td>
                        <td class="middle-row"><center><input name="radio_16" type="radio" ng-model="model.ma2_57"/></center></td>
                        <td class="middle-row"><center><input name="radio_16" type="radio" ng-model="model.ma2_58"/></center></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>2.</td>
                        <td>Jadwal pelajaran</td>
                        <td class="middle-row"><center><input name="radio_17" type="radio" ng-model="model.ma2_54"/></center></td>
                        <td class="middle-row"><center><input name="radio_17" type="radio" ng-model="model.ma2_55"/></center></td>
                        <td class="middle-row"><center><input name="radio_17" type="radio" ng-model="model.ma2_56"/></center></td>
                        <td class="middle-row"><center><input name="radio_17" type="radio" ng-model="model.ma2_57"/></center></td>
                        <td class="middle-row"><center><input name="radio_17" type="radio" ng-model="model.ma2_58"/></center></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>3.</td>
                        <td>Daftar Peserta Didik perkelas dan wali kelas</td>
                        <td class="middle-row"><center><input name="radio_18" type="radio" ng-model="model.ma2_54"/></center></td>
                        <td class="middle-row"><center><input name="radio_18" type="radio" ng-model="model.ma2_55"/></center></td>
                        <td class="middle-row"><center><input name="radio_18" type="radio" ng-model="model.ma2_56"/></center></td>
                        <td class="middle-row"><center><input name="radio_18" type="radio" ng-model="model.ma2_57"/></center></td>
                        <td class="middle-row"><center><input name="radio_18" type="radio" ng-model="model.ma2_58"/></center></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>4.</td>
                        <td>Daftar piket dan pembina upacara</td>
                        <td class="middle-row"><center><input name="radio_19" type="radio" ng-model="model.ma2_54"/></center></td>
                        <td class="middle-row"><center><input name="radio_19" type="radio" ng-model="model.ma2_55"/></center></td>
                        <td class="middle-row"><center><input name="radio_19" type="radio" ng-model="model.ma2_56"/></center></td>
                        <td class="middle-row"><center><input name="radio_19" type="radio" ng-model="model.ma2_57"/></center></td>
                        <td class="middle-row"><center><input name="radio_19" type="radio" ng-model="model.ma2_58"/></center></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>5.</td>
                        <td>Kesiapan perangkat pembelajaran</td>
                        <td class="middle-row"><center><input name="radio_20" type="radio" ng-model="model.ma2_54"/></center></td>
                        <td class="middle-row"><center><input name="radio_20" type="radio" ng-model="model.ma2_55"/></center></td>
                        <td class="middle-row"><center><input name="radio_20" type="radio" ng-model="model.ma2_56"/></center></td>
                        <td class="middle-row"><center><input name="radio_20" type="radio" ng-model="model.ma2_57"/></center></td>
                        <td class="middle-row"><center><input name="radio_20" type="radio" ng-model="model.ma2_58"/></center></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>6.</td>
                        <td>Jadwal kegiatan MGMP Madrasah</td>
                        <td class="middle-row"><center><input name="radio_21" type="radio" ng-model="model.ma2_54"/></center></td>
                        <td class="middle-row"><center><input name="radio_21" type="radio" ng-model="model.ma2_55"/></center></td>
                        <td class="middle-row"><center><input name="radio_21" type="radio" ng-model="model.ma2_56"/></center></td>
                        <td class="middle-row"><center><input name="radio_21" type="radio" ng-model="model.ma2_57"/></center></td>
                        <td class="middle-row"><center><input name="radio_21" type="radio" ng-model="model.ma2_58"/></center></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>E.</td>
                        <td colspan="2">PELAKSANAAN MINGGU PERTAMA PEMBELAJARAN</td>
                        <td colspan="5"></td>
                        <td rowspan="2">Lihat Buku Piket dan Agenda Kelas</td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>1.</td>
                        <td>Pembelajaran (Kelas X, XI, XII) terlaksana,≥ 90%</td>
                        <td class="middle-row"><center><input name="radio_22" type="radio" ng-model="model.ma2_54"/></center></td>
                        <td class="middle-row"><center><input name="radio_22" type="radio" ng-model="model.ma2_55"/></center></td>
                        <td class="middle-row"><center><input name="radio_22" type="radio" ng-model="model.ma2_56"/></center></td>
                        <td class="middle-row"><center><input name="radio_22" type="radio" ng-model="model.ma2_57"/></center></td>
                        <td class="middle-row"><center><input name="radio_22" type="radio" ng-model="model.ma2_58"/></center></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>2.</td>
                        <td>Kehadiran guru,≥ 90%</td>
                        <td class="middle-row"><center><input name="radio_23" type="radio" ng-model="model.ma2_54"/></center></td>
                        <td class="middle-row"><center><input name="radio_23" type="radio" ng-model="model.ma2_55"/></center></td>
                        <td class="middle-row"><center><input name="radio_23" type="radio" ng-model="model.ma2_56"/></center></td>
                        <td class="middle-row"><center><input name="radio_23" type="radio" ng-model="model.ma2_57"/></center></td>
                        <td class="middle-row"><center><input name="radio_23" type="radio" ng-model="model.ma2_58"/></center></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>3.</td>
                        <td>Kehadiran Peserta Didik ≥ 90%</td>
                        <td class="middle-row"><center><input name="radio_24" type="radio" ng-model="model.ma2_54"/></center></td>
                        <td class="middle-row"><center><input name="radio_24" type="radio" ng-model="model.ma2_55"/></center></td>
                        <td class="middle-row"><center><input name="radio_24" type="radio" ng-model="model.ma2_56"/></center></td>
                        <td class="middle-row"><center><input name="radio_24" type="radio" ng-model="model.ma2_57"/></center></td>
                        <td class="middle-row"><center><input name="radio_24" type="radio" ng-model="model.ma2_58"/></center></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>4.</td>
                        <td>Pembelajaran berlangsung sampai jam terakhir</td>
                        <td class="middle-row"><center><input name="radio_25" type="radio" ng-model="model.ma2_54"/></center></td>
                        <td class="middle-row"><center><input name="radio_25" type="radio" ng-model="model.ma2_55"/></center></td>
                        <td class="middle-row"><center><input name="radio_25" type="radio" ng-model="model.ma2_56"/></center></td>
                        <td class="middle-row"><center><input name="radio_25" type="radio" ng-model="model.ma2_57"/></center></td>
                        <td class="middle-row"><center><input name="radio_25" type="radio" ng-model="model.ma2_58"/></center></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td colspan="3">KUALIFIKASI NILAI</td>
                        <td class="middle-row"><center><input name="radio_26" type="radio" ng-model="model.ma2_54"/></center></td>
                        <td class="middle-row"><center><input name="radio_26" type="radio" ng-model="model.ma2_55"/></center></td>
                        <td class="middle-row"><center><input name="radio_26" type="radio" ng-model="model.ma2_56"/></center></td>
                        <td class="middle-row"><center><input name="radio_26" type="radio" ng-model="model.ma2_57"/></center></td>
                        <td class="middle-row"><center><input name="radio_26" type="radio" ng-model="model.ma2_58"/></center></td>
                        <td></td>
                      </tr>
                    </table>

                    <br/><br/>
                    <button class="button" style="background-color: #52D017;" ng-click="saveMA2()">
                        Simpan
                    </button>
                </ion-scroll>


        </div>
         

        <br />
        <br />
    </ion-content>
</ion-view>
