<ion-view view-title="Instrumen MA.4" >
    <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Informasi</strong>
        </div>
        <div class="im-wrapper">
            <center><h4>Instrumen wawancara pra observasi proses pembelajaran (standar proses) madrasah ibtidiyah (MI) </h4></center><br/>
            <!-- <ion-scroll direction="xy">                 -->
                <table class="data-table" style="table-layout: fixed; width: 624px">
                    <colgroup>
                      <col style="width: 48px">
                      <col style="width: 47px">
                      <col style="width: 248px">
                      <col style="width: 21px">
                      <col style="width: 116px">
                      <col style="width: 144px">
                    </colgroup>

                    <table class="data-table" style="table-layout: fixed; width: 637px">
                    <colgroup>
                      <col style="width: 43px">
                      <col style="width: 305px">
                      <col style="width: 230px">
              
                    </colgroup>
                      <tr>
                        <th>No.</th>
                        <th>Pokok-pokok Wawancara</th>
                        <th>Catatan</th>
                      </tr>
                      <tr>
                        <td>1.</td>
                        <td>Kompetensi Dasar yang akan diajarakan</td>
                        <td class="middle-row"><center><input name="input_1" type="text" /></center></td>
                        <!-- <td class="middle-row"><center><input name="radio_1" type="radio" ng-model="model.ma2_5"/></center></td> -->
                      </tr>
                      <tr>
                        <td>2.</td>
                        <td>Tujuan Pembelajaran yang akan disampaikan</td>
                        <td class="middle-row"><center><input name="input_2" type="text" /></center></td>
                       <!--  <td class="middle-row"><center><input name="radio_1" type="radio" ng-model="model.ma2_5"/></center></td> -->
                      </tr>
                      <tr>
                        <td>3.</td>
                        <td>Metode yang digunakan dan alasan menggunakan metode tersebut</td>
                        <td class="middle-row"><center><input name="input_3" type="text" /></center></td>
                        <!-- <td class="middle-row"><center><input name="radio_1" type="radio" ng-model="model.ma2_5"/></center></td> -->
                      </tr>
                      <tr>
                        <td>4.</td>
                        <td>Media dan alat peraga yang digunakan dalam pembelajaran</td>
                        <td class="middle-row"><center><input name="input_4" type="text" /></center></td>
                        <!-- <td class="middle-row"><center><input name="radio_1" type="radio" ng-model="model.ma2_5"/></center></td> -->
                      </tr>
                      <tr>
                        <td>5.</td>
                        <td>Materi yang dianggap sulit oleh peserta didik berdasarkan perkiraan dalam pembelajaran</td>
                        <td class="middle-row"><center><input name="input_5" type="text" /></center></td>
                        <!-- <td class="middle-row"><center><input name="radio_1" type="radio" ng-model="model.ma2_5"/></center></td> -->
                      </tr>
                      <tr>
                        <td>6.</td>
                        <td>Masalah yang dihadapi oleh guru dalam proses pembelajaran</td>
                        <td class="middle-row"><center><input name="input_6" type="text" /></center></td>
                        <!-- td class="middle-row"><center><input name="radio_1" type="radio" ng-model="model.ma2_5"/></center></td> -->
                      </tr>
                      <tr>
                        <td>7.</td>
                        <td>Kompetensi yang diharapkan dimiliki oleh Peserta Didik setelah mengikuti pembelajaran</td>
                        <td class="middle-row"><center><input name="input_7" type="text" /></center></td>
                        <!-- <td class="middle-row"><center><input name="radio_1" type="radio" ng-model="model.ma2_5"/></center></td> -->
                      </tr>
                      <tr>
                        <td>8.</td>
                        <td>Hal yang perlu mendapat perhatian khusus pada pembelajaran</td>
                        <td class="middle-row"><center><input name="input_8" type="text" /></center></td>
                        <!-- <td class="middle-row"><center><input name="radio_1" type="radio" ng-model="model.ma2_5"/></center></td> -->
                      </tr>
                      <tr>
                        <td>Saran</td>
                        <td class="middle-row" colspan="2"><center><textarea name="input_9" cols="50" rows="4"></textarea></center></td>
                        <!-- <td class="middle-row"><center><input name="radio_1" type="radio" ng-model="model.ma2_5"/></center></td> -->
                      </tr>
                    </table>
                        <br/><br/>
                        <button class="button" style="background-color: #52D017;" ng-click="saveMA4()">
                            Simpan
                        </button>

            
<!--             </ion-scroll> -->


        </div>
         

        <br />
        <br />
    </ion-content>
</ion-view>
