<ion-view view-title="Instrumen MA.5" >
    <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Informasi</strong>
        </div>
        <div class="im-wrapper">
            <center><h4>Instrumen Supervisi Masa Orientasi Peserta Didik (MOPD)</h4></center><br/>
           <!--  <ion-scroll direction="xy"> -->
            
                <br/><br/>
                <table border="1" class="data-table" style="table-layout: fixed; width: 624px">
                    <colgroup>
                    <col style="width: 48px">
                    <col style="width: 558px">
                    <col style="width: 93px">
                    <col style="width: 49px">
                    <col style="width: 49px">
                    <col style="width: 47px">
                    <col style="width: 51px">
                    <col style="width: 158px">
                    </colgroup>
                      <tr>
                        <th rowspan="2">No.</th>
                        <th rowspan="2">Aspek Yang Dimonitor</th>
                        <th rowspan="2">Tidak Ada</th>
                        <th colspan="4">Ada</th>
                        <th rowspan="2">ket</th>
                      </tr>
                      <tr>
                        <th>4</th>
                        <th>3</th>
                        <th>2</th>
                        <th>1</th>
                      </tr>
                      <tr>
                        <td>I</td>
                        <td><b>Perangkat Pembelajaran</b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>1. Analsis SKL kelompok Mata Pelajaran</td>
                        <td class="middle-row"><center><input name="radio_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_1" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>2. Analisis SKL Mata Pelajaran</td>
                        <td class="middle-row"><center><input name="radio_2" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_2" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_2" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_2" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_2" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_2"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>3. Analisis Tujuan Mata Pelajaran</td>
                        <td class="middle-row"><center><input name="radio_3" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_3" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_3" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_3" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_3" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_3"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>4. Pemetaan SK/KD</td>
                        <td class="middle-row"><center><input name="radio_4" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_4" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_4" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_4" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_4" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_4"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>5. Program Tahunan</td>
                        <td class="middle-row"><center><input name="radio_5" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_5" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_5" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_5" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_5" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_5"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>6. Program Semester</td>
                        <td class="middle-row"><center><input name="radio_6" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_6" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_6" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_6" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_6" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_6"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>7. Pengembangan Silabus </td>
                        <td class="middle-row"><center><input name="radio_7" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_7" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_7" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_7" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_7" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_7"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>8. Sistem Penilaian </td>
                        <td class="middle-row"><center><input name="radio_8" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_8" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_8" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_8" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_8" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_8"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>9. KKM Untuk KD yang dibahas </td>
                        <td class="middle-row"><center><input name="radio_9" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_9" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_9" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_9" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_9" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_9"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>10. Rencana Pelaksanaan Pembelajaran (RPP) </td>
                        <td class="middle-row"><center><input name="radio_10" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_10" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_10" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_10" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_10" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_10"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>11. Analisis Hasil Belajar </td>
                        <td class="middle-row"><center><input name="radio_11" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_11" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_11" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_11" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_11" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_11"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>12. Program Remedial dan Pengayaan </td>
                        <td class="middle-row"><center><input name="radio_12" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_12" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_12" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_12" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_12" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_12"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>13.Buku Nilai yang memuat semua tagihan yang telah dilaksanakan</td>
                        <td class="middle-row"><center><input name="radio_13" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_13" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_13" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_13" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_13" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_13"></input></td>
                      </tr>

                      <tr>
                        <td>II</td>
                        <td><b>PROSES PEMBELAJARAN</b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>A</td>
                        <td><b>PENDAHULUAN</b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>1. Kehadiran tepat waktu</td>
                        <td class="middle-row"><center><input name="radio_a1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a1" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_a1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>2. Kejelasan kompetensi dasar yang harus dicapai Peserta Didik</td>
                        <td class="middle-row"><center><input name="radio_a2" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a2" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a2" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a2" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a2" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_a2"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>3.  Kejelasan sistem penilaian yang akan digunakan</td>
                        <td class="middle-row"><center><input name="radio_a3" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a3" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a3" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a3" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a3" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_a3"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>4. Kejelasan tujuan pembelajaran</td>
                        <td class="middle-row"><center><input name="radio_a4" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a4" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a4" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a4" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a4" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_a4"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>5. Memotivasi Peserta Didik untuk belajar</td>
                        <td class="middle-row"><center><input name="radio_a5" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a5" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a5" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a5" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a5" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_a5"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>6.  Kesiapan alat bantu dan media pembelajaran</td>
                        <td class="middle-row"><center><input name="radio_a6" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a6" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a6" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a6" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a6" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_a6"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>7. Kesiapan bahan ajar</td>
                        <td class="middle-row"><center><input name="radio_a7" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a7" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a7" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a7" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a7" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_a7"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>8. Apresiasi</td>
                        <td class="middle-row"><center><input name="radio_a8" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a8" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a8" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a8" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a8" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_a8"></input></td>
                      </tr>
                      <tr>
                        <td>B</td>
                        <td><b>KEGIATAN INTI</b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td><b>1. EKSPLORASI :</b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>1. Melibatkan peserta didik mencari informasi yang luas dan dalam dari berbagai sumber</td>
                        <td class="middle-row"><center><input name="radio_b1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b1" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_b1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>2. Menggunakan beragam pendekatan pembelajaran, media pembelajaran, dan sumber belajar lain</td>
                        <td class="middle-row"><center><input name="radio_b2" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b2" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b2" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b2" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b2" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_a2"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>3. Memfasilitasi interaksi antara peserta didik, peserta didik-guru, peserta didik-lingkungan, peserta didik-sumber belajar lainnya</td>
                        <td class="middle-row"><center><input name="radio_b3" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b3" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b3" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b3" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b3" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_b3"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>4. Melibatkan peserta didik secara aktif dalam setiap kegiatan pembelajaran</td>
                        <td class="middle-row"><center><input name="radio_b4" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b4" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b4" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b4" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b4" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_b4"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>5. Memfasilitasi peserta didik melakukan percobaan di laboratorium, Studio, atau lapangan</td>
                        <td class="middle-row"><center><input name="radio_b5" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b5" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b5" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b5" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b5" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_b5"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td><b>2. ELABORASI :</b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>Dalam kegiatan Elaborasi, guru : </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>1. Membiasakan peserta didik membaca dan menulis melalui tugas-tugas tertentu yang bermakna</td>
                        <td class="middle-row"><center><input name="radio_c1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c1" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_c1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>2. Memfasilitasi peserta didik melalui pemberian tugas, diskusi, dll sehingga muncul gagasan baru baik lisan maupun tulisan</td>
                        <td class="middle-row"><center><input name="radio_c2" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c2" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c2" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c2" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c2" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_c2"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>3. Memberi kesempatan untuk berpikir, menganalisis, menyelesaikan masalah, dan bertindak tanpa rasa takut</td>
                        <td class="middle-row"><center><input name="radio_c3" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c3" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c3" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c3" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c3" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_c3"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>4. Memfasilitasi peserta didik dalam pembelajaran yang kooperatif dan kolaboratif</td>
                        <td class="middle-row"><center><input name="radio_c4" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c4" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c4" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c4" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c4" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_c4"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>5. Memfasilitasi peserta didik berkompetisi secara sehat untuk meningkatkan prestasi belajar</td>
                        <td class="middle-row"><center><input name="radio_c5" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c5" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c5" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c5" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c5" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_c5"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>6. Memfasilitasi peserta didik membuat laporan eksplorasi baik lisan maupun tulisan, secara individu maupun kelompok</td>
                        <td class="middle-row"><center><input name="radio_c6" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c6" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c6" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c6" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c6" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_c6"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>7. Memfasilitasi peserta didik untuk menyajikan hasil kerja individu maupun kelompok</td>
                        <td class="middle-row"><center><input name="radio_c7" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c7" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c7" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c7" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c7" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_c7"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>8. Memfasilitasi peserta didik melakukan pameran, turnamnen, festival, serta produk yang dihasilkan</td>
                        <td class="middle-row"><center><input name="radio_c8" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c8" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c8" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c8" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c8" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_c8"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>9. Memfasilitasi peserta didik melakukan kegiatan yang menumbuhkan kebanggaan dan rasa percaya diri</td>
                        <td class="middle-row"><center><input name="radio_c9" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c9" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c9" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c9" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c9" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_c8"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td><b>3. KONFIRMASI :</b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>Dalam kegiatan konfirmasi guru : </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>1. Memberikan umpan balik positif dan penguatan dalam bentuk lisan, tulisan, isyarat, maupun hadiah terhadap keberhasilan peserta didik</td>
                        <td class="middle-row"><center><input name="radio_d1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d1" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_d1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>2. Memberikan konfirmasi terhadap hasil eksplorasi dan elaborasi peserta didik melalui berbagai sumber</td>
                        <td class="middle-row"><center><input name="radio_d2" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d2" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d2" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d2" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d2" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_d2"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>3. Memfasilitasi peserta didik melakukan refleksi untuk memperoleh pengalaman belajar yang telah dilakukan</td>
                        <td class="middle-row"><center><input name="radio_d3" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d3" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d3" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d3" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d3" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_d3"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>4. MeMemfasilitasi peserta didik untuk memperoleh pengalaman bermakna dalam mencapai kompetensi dasar :</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>a). Berfungsi sebagai narasumber dan fasilitator dalam menjawab pertanyaan perserta didik yang menghadapi kesulitan, dengan bahasa yang baku dan benar</td>
                        <td class="middle-row"><center><input name="radio_d4" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d4" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d4" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d4" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d4" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_d4"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>b). Membantu menyelesaikan masalah</td>
                        <td class="middle-row"><center><input name="radio_d5" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d5" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d5" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d5" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d5" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_d5"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>c). Memberi acuan agar peserta didik dapat melakukan pengecekan hasil eksplorasi</td>
                        <td class="middle-row"><center><input name="radio_d6" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d6" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d6" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d6" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d6" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_d6"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>d). Memberi informasi untuk beroksplorasi lebih jauh</td>
                        <td class="middle-row"><center><input name="radio_d7" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d7" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d7" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d7" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d7" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_d7"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>e). Memberi motivasi kepada peserta didik yang kurang atau belum berpartisipasi aktif</td>
                        <td class="middle-row"><center><input name="radio_d8" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d8" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d8" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d8" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d8" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_d8"></input></td>
                      </tr>
                      <tr>
                        <td>C</td>
                        <td><b>KEGIATAN PENUTUP</b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>1). Bersama-sama dengan peserta didik dan/atau sendiri membuat rangkuman/simpulan pelajaran</td>
                        <td class="middle-row"><center><input name="radio_d9" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d9" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d9" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d9" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d9" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_d9"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>2). Melakukan penilaian dan/atau refleksi terhadap kegiatan yang telah dilaksanakan secara konsisten dan terprogram</td>
                        <td class="middle-row"><center><input name="radio_d10" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d10" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d10" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d10" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d10" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_d10"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>3). Memberi umpan balik terhadap proses dan hasil pembelajaran</td>
                        <td class="middle-row"><center><input name="radio_d11" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d11" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d11" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d11" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d11" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_d11"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>4). Merencanakan kegiatan tindak lanjut dalam bentuk pembelajaran remedi, program pengayaan, layanan konseling dan/atau memberi tugas baik individual mapun kelompok sesuai dengan hasil belajar peserta didik</td>
                        <td class="middle-row"><center><input name="radio_d12" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d12" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d12" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d12" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d12" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_d12"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>5). Menyampaikan rencana pembelajaran berikutnya</td>
                        <td class="middle-row"><center><input name="radio_d13" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d13" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d13" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d13" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d13" type="radio" ng-model="model.ma5_5"/></center></td>
                        <td><input type="text" name="input_d13"></input></td>
                      </tr>
                     </table> 
                

                        <br/><br/>
                        <button class="button" style="background-color: #52D017;" ng-click="saveMA5()">
                            Simpan
                        </button>

            
            <!-- </ion-scroll> -->


        </div>
         

        <br />
        <br />
    </ion-content>
</ion-view>