<ion-view view-title="Instrumen MA.6" >
    <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Informasi</strong>
        </div>
        <div class="im-wrapper">
            <center><h4>Panduan Wawancara Pasca Observasi Proses Pembelajaran (Standar Proses) Madrasah Ibtidaiyah(MI)</h4></center><br/>
            <!-- <ion-scroll direction="xy">                 -->
                <table class="data-table" style="table-layout: fixed; width: 624px">
                    <colgroup>
                      <col style="width: 48px">
                      <col style="width: 47px">
                      <col style="width: 248px">
                      <col style="width: 21px">
                      <col style="width: 116px">
                      <col style="width: 144px">
                    </colgroup>

                    <table class="data-table" style="table-layout: fixed; width: 637px">
                    <colgroup>
                      <col style="width: 43px">
                      <col style="width: 305px">
                      <col style="width: 230px">
                      
                    </colgroup>
                      <tr>
                        <th>No.</th>
                        <th>Pokok-pokok Wawancara</th>
                        <th>Catatan</th>
                      </tr>
                      <tr>
                        <td>1.</td>
                        <td>Bagaimana kesan saudara setelah menyajikan pelajaran ini ? Apakah sudah sesuai dengan yang suadara rencanakan ?</td>
                        <td class="middle-row"><center><input name="input_1" type="text" /></center></td>
                        <!-- <td class="middle-row"><center><input name="radio_1" type="radio" ng-model="model.ma2_5"/></center></td> -->
                      </tr>
                      <tr>
                        <td>2.</td>
                        <td>Coba saudara ceritakan hal-hal yang saudara rasa telah memuaskan dan hal-hal yang kurang memuaskan dalam pembelajaran tadi ?</td>
                        <td class="middle-row"><center><input name="input_2" type="text" /></center></td>
                       <!--  <td class="middle-row"><center><input name="radio_1" type="radio" ng-model="model.ma2_5"/></center></td> -->
                      </tr>
                      <tr>
                        <td>3.</td>
                        <td>Bagaimana perkiraan saudara mengenai ketercapaian kompetensi Peserta Didik ?</td>
                        <td class="middle-row"><center><input name="input_3" type="text" /></center></td>
                        <!-- <td class="middle-row"><center><input name="radio_1" type="radio" ng-model="model.ma2_5"/></center></td> -->
                      </tr>
                      <tr>
                        <td>4.</td>
                        <td>Apa yang menjadi kesulitan Peserta Didik ?</td>
                        <td class="middle-row"><center><input name="input_4" type="text" /></center></td>
                        <!-- <td class="middle-row"><center><input name="radio_1" type="radio" ng-model="model.ma2_5"/></center></td> -->
                      </tr>
                      <tr>
                        <td>5.</td>
                        <td>Bagaimana alternative untuk mengatasi kesulitan tersebut ?</td>
                        <td class="middle-row"><center><input name="input_5" type="text" /></center></td>
                        <!-- <td class="middle-row"><center><input name="radio_1" type="radio" ng-model="model.ma2_5"/></center></td> -->
                      </tr>
                      <tr>
                        <td>6.</td>
                        <td>Marilah bersama-sama kita membangun kesepakatan untuk perbaikan lebih lanjut !</td>
                        <td class="middle-row"><center><input name="input_6" type="text" /></center></td>
                        <!-- td class="middle-row"><center><input name="radio_1" type="radio" ng-model="model.ma2_5"/></center></td> -->
                      </tr>
                      <tr>
                        <td>7.</td>
                        <td>Apa yang saudara sarankan untuk dilaksanakan pada pertemuan berikutnya sebagai tindak lanjut dari pertemuan hari ini  (Reflekting)?</td>
                        <td class="middle-row"><center><input name="input_7" type="text" /></center></td>
                        <!-- <td class="middle-row"><center><input name="radio_1" type="radio" ng-model="model.ma2_5"/></center></td> -->
                      </tr>
                    </table>
                        <br/><br/>
                        <button class="button" style="background-color: #52D017;" ng-click="saveMA6()">
                            Simpan
                        </button>

            
            <!-- </ion-scroll> -->


        </div>
         

        <br />
        <br />
    </ion-content>
</ion-view>
