<ion-view view-title="Instrumen MA.9" >
    <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Informasi</strong>
        </div>
        <div class="im-wrapper">
            <center><h4>Instrumen Supervisi Administrasi Pendidikan dan Tenaga Kependidikan MADRASAH IBTIDAIYAH (MI)</h4></center><br/>
           <!--  <ion-scroll direction="xy"> -->
                <br/><br/>
                <table border="1" class="data-table" style="table-layout: fixed; width: 624px">
                    <colgroup>
                    <col style="width: 48px">
                    <col style="width: 49px">
                    <col style="width: 558px">
                    <col style="width: 49px">
                    <col style="width: 49px">
                    <col style="width: 159px">
                    </colgroup>
                      <tr>
                        <th>No.</th>
                        <th colspan="2">Komponen</th>
                        <th >Ya</th>
                        <th >Tidak</th>
                        <th >ket</th>
                      </tr>
                      <tr>
                        <th>A</th>
                        <th colspan="2">SUMBER DAYA KETENAGAAN</th>
                        <th></th>
                        <th></th>
                        <th></th>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td colspan="2"><b> Kepala Madrasah :</b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>a.</td>
                        <td>Kualifikasi umum:</td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td>1) Memiliki kualifikasi akademik minimal Sarjana (S1) atau D-IV kependidikan atau non kependidikan pada perguruan tinggi yang terakrediatsi</td>
                        <td class="middle-row"><center><input name="radio_a1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_a1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td>2) Usia setinggi-tingginya 56 tahun</td>
                        <td class="middle-row"><center><input name="radio_a2" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a2" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_a2"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td>3) Pengalaman mengajar sebagai guru sekurang-kurangnya 5 Tahun </td>
                        <td class="middle-row"><center><input name="radio_a3" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a3" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_a3"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td>4) Pangkat serendah-rendahnya III/c bagi PNS dan bagi non-PNS disetarakan dengan kepangkatan yang dikeluarkan oleh yayasan atau lembaga berwenang</td>
                        <td class="middle-row"><center><input name="radio_a4" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_a4" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_a4"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>b.</td>
                        <td>Kualifikasi Khusus:</td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td>1) Berstatus sebagai guru MA</td>
                        <td class="middle-row"><center><input name="radio_b1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_a1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td>2) Memiliki sertifikat pendidik sebagai guru MA</td>
                        <td class="middle-row"><center><input name="radio_b2" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b2" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_a2"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td>3) Memiliki sertifikat kepala MA atau Ijin memimpin MA yang diterbitkan oleh Kemenag</td>
                        <td class="middle-row"><center><input name="radio_b3" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_b3" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_a3"></input></td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td colspan="2"><b> Guru :</b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>a.</td>
                        <td>Tingkat kualifikas pendidikan guru Minimal S 1/D IV/ akta IV</td>
                        <td class="middle-row"><center><input name="radio_c1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_c1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>b.</td>
                        <td>    Tingkat kelayakan guru sesuai dengan mata pelajaran yang diampunya</td>
                        <td class="middle-row"><center><input name="radio_c2" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c2" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_c2"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>c.</td>
                        <td>Rasio jumlah guru terhadap rombel 2,3 : 1</td>
                        <td class="middle-row"><center><input name="radio_c3" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c3" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_c3"></input></td>
                      </tr>

                      <tr>
                        <td></td>
                        <td>d.</td>
                        <td>Rasio jumlah jam mengajar perminggu terhadap guru 24:1  </td>
                        <td class="middle-row"><center><input name="radio_c4" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c4" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_c4"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>e.</td>
                        <td>Rata-rata pengalaman mengajar menjadi guru di Madrasah ≥ 8 tahun </td>
                        <td class="middle-row"><center><input name="radio_c5" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c5" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_c5"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>f.</td>
                        <td>Rasio jumlah guru terhadap pelatihan yang pernah diikuti sesuai dengan mata pelajaran yang diampu ≥ 80% jumlah guru :  ≥ 5 kali </td>
                        <td class="middle-row"><center><input name="radio_c6" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c6" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_c6"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>g.</td>
                        <td>Rasio jumlah guru bimbingan konseling terhadap jumlah Peserta Didik ≥ 1:150</td>
                        <td class="middle-row"><center><input name="radio_c7" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_c7" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_c7"></input></td>
                      </tr>

                      <tr>
                        <td>3</td>
                        <td colspan="2"><b> TENAGA KEPENDIDIKAN :</b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>

                      <tr>
                        <td></td>
                        <td>a.</td>
                        <td>Rasio tenaga perpustakaan terhadap jumlah Peserta Didik 1 :  < 240 -319</td>
                        <td class="middle-row"><center><input name="radio_d1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_d1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>b.</td>
                        <td>Rasio tenaga laboran IPA terhadap rombel 1: < 9</td>
                        <td class="middle-row"><center><input name="radio_d2" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d2" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_d2"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>c.</td>
                        <td>Rasio tenaga laboran Bahasa terhadap rombel 1: < 9</td>
                        <td class="middle-row"><center><input name="radio_d3" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d3" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_d3"></input></td>
                      </tr>

                      <tr>
                        <td></td>
                        <td>d.</td>
                        <td>Rasio tenaga Tata Usaha terhadap rombongan belajar   ½ jumlah RB + 1 </td>
                        <td class="middle-row"><center><input name="radio_d4" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d4" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_d4"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>e.</td>
                        <td>    SK Pengangkatan dan rinciannya</td>
                        <td class="middle-row"><center><input name="radio_d5" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d5" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_d5"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>f.</td>
                        <td>Tingkat kualifikas pendidikan pegawai S1 : 25%</td>
                        <td class="middle-row"><center><input name="radio_d6" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d6" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_d6"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>g.</td>
                        <td>Tingkat kelayakan pegawai sesuai dengan bidang tugas yang diampunya</td>
                        <td class="middle-row"><center><input name="radio_d7" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d7" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_d7"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>h.</td>
                        <td>Rata-rata pengalaman menjadi pegawai di Madrasah ini ≥ 8 tahun</td>
                        <td class="middle-row"><center><input name="radio_d8" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d8" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_d8"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>i.</td>
                        <td>Rasio jumlah pegawai terhadap pelatihan yang pernah diikuti sesuai dengan bidang tugas yang diampu  ≥ 80% jumlah guru :  ≥ 5 kali  </td>
                        <td class="middle-row"><center><input name="radio_d9" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d9" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_d9"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>j.</td>
                        <td>Rasio tenaga perpustakaan terhadap jumlah Peserta Didik 1 : < 240 - 319 </td>
                        <td class="middle-row"><center><input name="radio_d10" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d10" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_d10"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>k.</td>
                        <td>Tingkat kualifikas pendidikan tenaga perpustakaan   < SLTA</td>
                        <td class="middle-row"><center><input name="radio_d11" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d11" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_d11"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>l.</td>
                        <td>Tingkat kelayakan pendidikan tenaga perpustakaan < 9</td>
                        <td class="middle-row"><center><input name="radio_d12" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d12" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_d12"></input></td>
                      </tr>

                      <tr>
                        <td></td>
                        <td>m.</td>
                        <td>Tingkat kualifikas pendidikan tenaga laboran S1 </td>
                        <td class="middle-row"><center><input name="radio_d13" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d13" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_d13"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>n.</td>
                        <td> Tingkat kelayakan pendidikan tenaga laboran </td>
                        <td class="middle-row"><center><input name="radio_d14" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d14" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_d14"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>o.</td>
                        <td>Tingkat kualifikas pendidikan tenaga laboran Bahasa S1</td>
                        <td class="middle-row"><center><input name="radio_d15" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d15" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_d15"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>p.</td>
                        <td>Tingkat kelayakan pendidikan tenaga laboran Bahasa</td>
                        <td class="middle-row"><center><input name="radio_d16" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_d16" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_d16"></input></td>
                      </tr>
                      <tr>
                        <td>B</td>
                        <td colspan="2"><b>ADMINISTRASI KETENAGAAN</b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td colspan="2">Buku Induk Ketenagaan diisi dengan benar, lengkap dan tuntas/Buku kenaikkan golongan</td>
                        <td class="middle-row"><center><input name="radio_e1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_e1"></input></td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td colspan="2">File Kepala Madrasah, Guru dan Pegawai : </td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>a.</td>
                        <td>Urutan/kumpulan foto copy SK dari capeg sampai pangkat terakhir bagi PNS atau SK pembagian tugas mengajar bagi pegawai honorer</td>
                        <td class="middle-row"><center><input name="radio_e_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_e_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>b.</td>
                        <td>Urutan/kumpulan foto copy ijazah s.d. ijazah terakhir</td>
                        <td class="middle-row"><center><input name="radio_e_2" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e_2" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_e_2"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>c.</td>
                        <td>Urutan/kumpulan STTPL/sertifikat seminar/MGMP</td>
                        <td class="middle-row"><center><input name="radio_e_3" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e_3" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_e_3"></input></td>
                      </tr>

                      <tr>
                        <td></td>
                        <td>d.</td>
                        <td>Urutan/kumpulan DP3</td>
                        <td class="middle-row"><center><input name="radio_e_4" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e_4" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_e_4"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>e.</td>
                        <td>Daftar riwayat hidup</td>
                        <td class="middle-row"><center><input name="radio_e_5" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e_5" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_e_5"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>f.</td>
                        <td>    R7 / R8 (DSO)</td>
                        <td class="middle-row"><center><input name="radio_e_6" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e_6" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_e_6"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>g.</td>
                        <td>    Buku Cuti</td>
                        <td class="middle-row"><center><input name="radio_e_7" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e_7" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_e_7"></input></td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td colspan="2">Kehadiran Pegawai :</td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>a.</td>
                        <td>Rekapitulasi kehadiran guru ( ≥ 90% )</td>
                        <td class="middle-row"><center><input name="radio_e1_1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e1_1" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_e1_1"></input></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>b.</td>
                        <td>Urutan/kumpulan foto copy ijazah s.d. ijazah terakhir</td>
                        <td class="middle-row"><center><input name="radio_e1_2" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_e1_2" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_e1_2"></input></td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td colspan="2">DUK (Daftar Urut Kepangkatan ) dibuat dengan benar dan lengkap</td>
                        <td class="middle-row"><center><input name="radio_f1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_f2" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_f3"></input></td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td colspan="2">    Buku Pengawasan Pegawai / tata tertib pegawai</td>
                        <td class="middle-row"><center><input name="radio_g1" type="radio" /></center></td>
                        <td class="middle-row"><center><input name="radio_g2" type="radio" ng-model="model.ma6_5"/></center></td>
                        <td><input type="text" name="input_g3"></input></td>
                      </tr>

                      <tr>
                        <td colspan="4">Kesimpulan / Saran</td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td colspan="6"><textarea cols="110" rows="3" name="input_kesimpulan"></textarea>
                      </tr>
                     </table> 
                

                        <br/><br/>
                        <button class="button" style="background-color: #52D017;" ng-click="saveMA9()">
                            Simpan
                        </button>

            
            <!-- </ion-scroll> -->


        </div>
         

        <br />
        <br />
    </ion-content>
</ion-view>